version: '3.7'

services:
  db:
    image: postgis/postgis
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - demolab:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  create_table:
    build: .
    env_file:
      - ./.env
    command: python manage.py createcachetable
    depends_on:
      db:
        condition: service_healthy
  migrate:
    build: .
    env_file:
      - ./.env
    command: python manage.py migrate
    depends_on:
      - create_table
  web:
    build: .
    env_file:
      - ./.env
    command: bash -c '. /.nvm/nvm.sh use default &&
                      npm run dev &&
                      python manage.py runserver 0.0.0.0:8000'
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes: 
  demolab: