<!-- HTML Paragraph template for DemocracyLab emails -->
<!--
Template Arguments
 text: Paragraph text
 -->
<!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
<tr>
  <td
    valign="top"
    style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 17px; font-weight: 400; line-height: 160%;
			padding-top: 25px;
			color: #000000;
			font-family: sans-serif;"
    class="paragraph"
  >
    {{text |safe}}
  </td>
</tr>
