<!-- HTML Header template for DemocracyLab emails -->
<!--
Template Arguments
 text: Header text
 -->
<!-- Set text color and font family ("sans-serif" or "Georgia, serif") -->
<tr>
    <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 130%;
			padding-top: 25px;
			color: #f4a73c;
			font-family: sans-serif;" class="header">
        {{text |safe}}
    </td>
</tr>