<!-- HTML Button template for DemocracyLab emails -->
<!--
Template Arguments
 url: Button link url
 text: Button text
 -->
<!-- Set button background color at TD, link/text color at A and TD, font family ("sans-serif" or "Georgia, serif") at TD. For verification codes add "letter-spacing: 5px;".  -->
<tr>
    <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;
			padding-bottom: 5px;" class="button">
        <table border="0" cellpadding="0" cellspacing="0" align="center" style="max-width: 360px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;">
            <tr>
                <td align="center" valign="middle" style="padding: 12px 24px; margin: 0; text-decoration: {{text_decoration}}; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;"
                                                                                                                                                                                       bgcolor="#f4a73c">
                    <a target="_blank" style="text-decoration: {{text_decoration}}; color: {{color}}; font-family: sans-serif; font-size: 17px; font-weight: 400; line-height: 120%;" href="{{url}}">
                        {{text}}
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>