<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}DemocracyLab{% endblock %}</title>
    <link href='/static/css/base.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/projects.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/21e87da3a9.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="/static/js/main.bundle.js" defer></script>
    <script src="/static/js/vendors.bundle.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/cjs/react.development.js" defer></script>
    {% block extra_head %} {% endblock extra_head %}
</head>
<body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '137258853647008',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.10',
        });
        FB.AppEvents.logPageView();
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img src="/static/images/logo.png"></a>
                </div>
                {% if user.is_authenticated %}
                <a href="/projects/signup" class="btn-primary add-a-project" >ADD A PROJECT</a>
                <a href="/logout" class="btn-primary add-a-project" >Logout</a>
                <img src="/static/images/login.png" />
                {{ user.first_name }} {{ user.last_name }}
                {% else %}
                <a href="/login" class="btn-primary add-a-project" >Login</a>
                <div>
                    <a href="{% url 'signup' %}" class="base-signup">
                        Sign Up
                    </a>
                </div>
                {% endif %}
            </div>
    </div>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
