{% extends 'base.html' %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <h1 class="signup-primary-header signup-headers">SIGN UP, IT'S EASY AND FREE</h1>
        <div class="signup-inputs">
            <div class="row">
                <div class="col-md-12 signup-label">First name</div>
            </div>
            <div class="row">
                <div class="col-md-12"><input type="email" name="email" class="signup-wide"></div>
            </div>
            <div class="row">
                <div class="col-md-12 signup-label">Last name</div>
            </div>
            <div class="row">
                <div class="col-md-12"><input type="email" name="email" class="signup-wide"></div>
            </div>
            <div class="row">
                <div class="col-md-12 signup-label">Email</div>
            </div>
            <div class="row">
                <div class="col-md-12"><input type="email" name="email" class="signup-wide"></div>
            </div>
        </div>
        <div class="submit-row">
            <button type="submit" class="btn-primary">Create Account</button>
        </div>
    </form>
</div>
{% endblock %}
