{% extends 'no_link_base.html' %} {% block content %}
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <script src="/static/js/bundle.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/cjs/react.development.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/Global.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/LogInController.css"/>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '137258853647008',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.10',
        });
        FB.AppEvents.logPageView();
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div
      id="SignUpErrorAdapter"
      data-json_encoded_errors='{{errors}}'
      class="__react-root">
      Loading Sign Up Page. . .
    </div>
  </body>
</html>
{% endblock %}