{% extends 'base.html' %} {% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <h1 class="signup-primary-header signup-headers">Want to make a difference in your community?</h1>
        <h2 class="signup-secondary-header signup-headers">Become a project contributor</h2>
        <div class="signup-inputs">
            <div class="signup-my-details">My details:</div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="signup-label signup-half-col signup-half-col-left">First name</div>
                <div class="signup-label signup-half-col">Last name</div>
            </div>
            <div class="row">
                <div class="signup-half-col signup-half-col-left"><input type="text" name="first_name" class="signup-text"></div>
                <div class="signup-half-col"><input type="text" name="last_name" class="signup-text"></div>
            </div>
            <div class="row">
                <div class="col-md-12 signup-label">Email</div>
            </div>
            <div class="row">
                <div class="col-md-12"><input type="email" name="email" class="signup-wide"></div>
            </div>
            <div class="row">
                <div class="signup-half-col signup-label  signup-half-col-left">Zip Code/Postal Code (optional)</div>
                <div class="signup-half-col signup-label">Phone (optional)</div>
            </div>
            <div class="row">
                <div class="signup-half-col signup-half-col-left"><input type="text" name="first_name" class="signup-text"></div>
                <div class="signup-half-col"><input type="text" name="last_name" class="signup-text"></div>
            </div>
            <div class="row">
                <div class="col-md-12 signup-label">Username</div>
            </div>
            <div class="row">
                <div class="col-md-12"><input type="text" name="username" class="signup-wide"></div>
            </div>
            <div class="row">
                <div class="col-md-12 signup-label">Password</div>
            </div>
            <div class="row">
                <div class="col-md-12"><input type="password" name="password1" class="signup-wide"></div>
            </div>
            <div class="row">
                <div class="col-md-12 signup-label">Confirm password</div>
            </div>
            <div class="row">
                <div class="col-md-12"><input type="password" name="password2" class="signup-wide"></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="signup-section">I am interested in projects that address (select at least one)</h3>
                </div>
            </div>
            <div class="row">
                {% for row in projects %} {% for item in row %}
                <div class="col-md-4">
                    <input type="checkbox" name="skills" value="{{item.tag_name}}" /><span class="signup-checkbox">{{item.display_name}}</span>
                </div>
                {% endfor %} {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="signup-section">My skills (select at least one)</h3>
                </div>
            </div>
            <div class="row">
                {% for row in skills %} {% for item in row %}
                <div class="col-md-4">
                    <input type="checkbox" name="skills" value="{{item.tag_name}}" /><span class="signup-checkbox">{{item.display_name}}</span>
                </div>
                {% endfor %} {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="signup-section">About me (optional)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea name="aboutme" class="signup-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="submit-row">
            <button type="submit" class="btn-primary">Create Account</button>
        </div>
    </form>
    {% endblock %}
</div>