.AboutGroup-secondary-section {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid $color-grey-frame-border;
    border-radius: 5px;
  }
  .AboutGroup-description {
    white-space: pre-wrap;
  }