.AboutProject-icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  max-width: 450px; // constrains super-long URLs, text from breaking container
}
.AboutProject-icon-text {
  margin-left: 10px;
  margin-bottom: 0;
}
.AboutProject-url-text {
  overflow: hidden;
  text-overflow: ellipsis;
  @extend .AboutProject-icon-text;
  color: $color-orange;
  &:hover {
    color: $color-orange-dark;
  }
}
.AboutProject-tab-details {
  white-space: pre-wrap; // preserve line breaks
}

.AboutProject-positions-available {
  .Position-entry {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .Text-section {
    margin: 1rem 0;
  }
}
.AboutProject-skilltech-container {
  display: flex;
  flex-direction: column;
}
.AboutProject-skills,
.AboutProject-technologies {
  padding: 15px 0;
  flex-basis: 100%;
}
.AboutProject-positions-available {
  margin: 15px 0;
  .Position-entry {
    border: 1px solid $color-grey-medium;
    border-radius: 5px;
    margin: 30px 0;
    padding: 15px;
  }
  .Position-entry:first-of-type {
    margin-top: 0;
  }
}

.AboutProject-secondary-section {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid $color-grey-frame-border;
  border-radius: 5px;
}

.AboutProject-group {
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 15px;
  }
  a {
    vertical-align: top; /* align text with top of group icon instead of bottom */
  }
}
.AboutProject-group-image {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-right: 10px;
  img,
  i {
    object-fit: contain;
    max-width: 100%;
    max-height:50px;
  }
  i {
    color: $color-text-dark;
  }
}
.AboutProject-file-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0.75rem 0;
}
.AboutProject-staff {
  .person-icon-container {
    width: 80px;
    height: 81px;
    svg {
      width: 70px;
      height: 70px;
    }
  }
}
.AboutProject-show-more-activity-container {
  display: flex;
  justify-content: space-evenly;
}

@include media-breakpoint-up(lg) {
  .AboutProject-positions-available {
    .Position-header {
      flex-direction: row;
      margin-bottom: 0;
    }
  }
  .AboutProject-skilltech-container {
    flex-direction: row;
  }
  .AboutProject-skills,
  .AboutProject-technologies {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}

@include media-breakpoint-up(xl) {
  .AboutProject-icon-row {
    max-width: 550px;
  }
}
