// for Section.AboutProjectEventDisplay, child of Profile.scss rules, uses a lot of AboutProject components and rules too
.AboutProjectEvent-primary-container {
  padding: 16px;
  h3 {
    padding-top: 12px;
  }
  .apply-position-button, .apply-position-button a {
    width: 100%;
  }
}
.AboutProjectEvent-top-content {
  border: 1px solid $color-grey-frame-border;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.AboutProjectEvent-event-logo {
  width: 100%; // container takes entire width on mobile
  img {
    object-fit: contain; // don't crop by default
    object-position: center top; // if we do crop, it keeps the top of the image visible
    max-width: 100%;
    display: flex;
    margin: 0 auto; // center in container horizontally
  }
}
.AboutProjectEvent-project-logo img {
  max-height: 150px; // so very tall logo images don't ruin mobile
}
.AboutProjectEvent-top-names {
  width: 100%;
  background: $color-feedback-background-info-weakest;
  .AboutProjectEvent-top-names-text {
    padding: 64px 16px; // fixed height approximately 3x text height; could do this dynamically with grid if we need a future enhancement
  }
}
.AboutProjectEvent-top-button {
  button {
    width: 100%; // on mobile full width, unset for desktop
  }
}

@include media-breakpoint-up(lg) {
  .AboutProjectEvent-primary-container {
    .apply-position-button, .apply-position-button a {
      width: unset;
    }
  }
  .AboutProjectEvent-top-button button {
    width: unset;
  }
  .AboutProjectEvent-top-names {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    .AboutProjectEvent-top-names-text {
      padding: 0 0 0 16px;
      align-self: center;

    }
  }
  .AboutProjectEvent-event-logo-desktop {
    flex-basis: 30%;
    flex-shrink: 1;
    margin-left: auto;
    img {
      max-width: 100%;
    }
  }
  .AboutProjectEvent-desktop-row {
    margin: 24px 16px 16px 16px;
    display: grid;
    gap: 64px; // minimum space between items
    grid-template-columns: 1fr 2fr 1fr;
    .AboutProjectEvent-top-button {
      margin-left: auto;
    }
 
  }
  .AboutProjectEvent-project-logo img {
    max-height: 200px; // scale up slightly on laptop-size display
  }
  @include media-breakpoint-up(xl) {
    .AboutProjectEvent-project-logo img {
      max-height: 250px; // scale up more on desktop-size display
    }
  }
  
}