@include media-breakpoint-up(lg) {
  .AboutUser-root .left-column {
    border-right: solid;
    border-width: 1px;
    border-color: $color-disabled-border;
  }
}
.about-user-section {
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: anywhere;
}

.AboutUser-root .VolunteerCard-img, .AboutUser-root .person-icon-container {
  width: 100%;
  text-align: center;
  background-color: $color-background-light;
}

.AboutUser-root .person-icon-container {
  height: 250px;

  svg {
    width: 200px;
    height: 200px;
  }
}

.AboutUser-profile-img {
  max-width: 100%;
  border-radius: 50%;
  min-width: 0; // fixes flex issue
}

.right-column h2 {
  margin-bottom: 40px;
}

.bio-text {
  background-color: $color-background-default;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 10px;
}

.about-user-section {
  margin-bottom: 50px;
}
.about-user-section:last-of-type {
  margin-bottom: 0px;
}

.AboutUser-root .left-column, .AboutUser-root .right-column {
  padding-top: 15px;
  padding-bottom: 15px;
}