.AboutUser-root .left-column {
  border-right: solid;
  border-width: 1px;
  border-color: $color-disabled-border;
}

.AboutUser-root .VolunteerCard-img, .AboutUser-root .person-icon-container {
  width: 100%;
  text-align: center;
  background-color: $color-background-light;
}

.Profile-img {
  max-width: 100%;
}

//TODO: Still need these?
.about-user-section {
  margin-bottom: 1.5rem;
}
.about-user-section:last-of-type {
  margin-bottom: 2rem;
}
.about-user-section a {
  color: $color-orange;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.about-user-name {
  padding-top: 0.25rem;
}
