// for Section.AboutProjectEventDisplay, child of Profile.scss rules
.AboutProjectEvent-primary-container {
  padding: 16px;
  h3 {
    padding-top: 12px;
  }
}
.AboutProjectEvent-top-section {
  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 250px; // so very tall images don't ruin mobile
  }
}
.AboutProjectEvent-top-content {
  border: 1px solid $color-grey-frame-border;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.AboutProjectEvent-event-logo {
  width: 100%;
}
.AboutProjectEvent-project-logo img {
  max-width: 50%;
}
.AboutProjectEvent-top-names {
  width: 100%;
  background: $color-feedback-background-info-weakest;
}
