// MUI "md" breakpoint is 960px, closest value to Bootstrap's 992 we break on at the homepage
//TODO: standardize on _one_ set of breakpoints...

.AboutProjects-root {
  display: flex;
  margin: 0 40px;
  max-width: 1080px;
  background: $color-background-light;
  border-radius: 12px;
  border: $color-grey-disabled solid 1px;
}

/* to avoid conflict with a href styled as buttons, only put this rule in sections where required */
.AboutProjects-details,
.AboutProjects-team,
.AboutProjects-files,
.Position-description-link {
  a {
    color: $color-orange;
    text-decoration: none;
  }
  a:hover {
    color: $color-orange-dark;
    text-decoration: underline;
  }
}

.AboutProjects-infoColumn {
  order: 1;
  width: 30%;
  min-width: 300px;
  border-right: $color-grey-disabled solid 1px;
  h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.25rem 0 0.75rem 0;
  }
}

.AboutProjects-iconContainer {
  height: 262px;
  margin: auto;
  width: 100%;
  border-bottom: $color-grey-disabled solid 1px;
  img {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.AboutProjects-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.AboutProjects-details {
  padding: 20px;
  border-bottom: $color-grey-disabled solid 1px;
}

.AboutProjects-icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-all;
  margin-bottom: 10px;
}
.AboutProjects-icon-text {
  margin-left: 10px;
  margin-bottom: 0;
}

.AboutProjects-url-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @extend .AboutProjects-icon-text;
  color: $color-orange;
  &:hover {
    color: $color-orange-dark;
  }
}

.AboutProjects-links,
.AboutProjects-files,
.AboutProjects-groups,
.AboutProjects-team {
  padding: 10px 5px 10px 15px;
}

.AboutProjects-links,
.AboutProjects-files,
.AboutProjects-groups {
  border-bottom: $color-grey-disabled solid 1px;
}

.AboutProjects-links-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.AboutProjects-intro {
  min-height: 262px;
  border-bottom: $color-grey-disabled solid 1px;
}

.AboutProjects-introTop {
  display: flex;
  min-height: 225px;
  justify-content: space-between;
}

.AboutProjects-owner {
  min-height: 70px;

  button,
  a.btn {
    margin-right: 13px;
  }
}

.AboutProjects-mainColumn {
  order: 2;
  width: 70%;
}

.AboutProjects-description {
  padding: 10px 5px;
  width: 70%;

  h1 {
    font-size: 1.75rem;
  }

  h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
  }

  .AboutProjects-description-issue {
    color: #888;
  }
  .Position-description-link {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.AboutProjects_tabs {
  clear: both;
  display: flex;
  flex-direction: row; // column mobile, row desktop
  flex-wrap: wrap;
  justify-self: flex-start;
  align-self: flex-end;
  width: 100%;
  padding: 0px 0px 0px 15px;
  a {
    line-height: 1;
    margin-bottom: 16px;
    padding-bottom: 2px;
    font-size: 24px;
    margin-right: 40px;
    color: #888;
    transition: 300ms;
    cursor: pointer;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
  .AboutProjects_aHighlighted {
    border-bottom: 3px solid $color-orange;
    padding-bottom: 2px;
    font-size: 24px;
    margin-right: 40px;
    color: #000;
    transition: 300ms;
    cursor: pointer;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.AboutProjects-details-description {
  white-space: pre-wrap;
}
.AboutProjects-details-sectionheader {
  font-size: 1.25rem;
}

.AboutProjects-skills-container {
  display: flex;
  margin-top: 15%;
}

.AboutProjects-skills {
  p {
    display: inline-block;
    background: $color-grey-medium;
    border-radius: 20px;
    padding: 4px 10px 4px 10px;
    margin: 4px;
  }

  .AboutProjects-skills-title {
    padding-left: 0px;
    float: left;
    background: $color-background-light;
    font-weight: bold;
    width: 100%;
  }
}

.AboutProjects-technologies {
  p {
    display: inline-block;
    background: #ddd;
    border-radius: 20px;
    padding: 4px 10px 4px 10px;
    margin: 4px;
  }

  .AboutProjects-tech-title {
    padding-left: 0px;
    float: left;
    background: $color-background-light;
    font-weight: bold;
    width: 100%;
  }
}
/* events section overrides from Event page style to About Project page style */
.AboutProjects-events {
  h1 {
    font-size: 28px;
    margin-top: 2.5rem;
  }
  h1:first-of-type {
    margin-top: 0;
  }
  .EventCard-dateheader h4 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
}
.AboutProjects-recent-activity,
.AboutProjects-events {
  padding: 25px 10px; /*as with description-details consider maxwidth */
  border-top: $color-grey-disabled solid 1px;
}

.AboutProjects-show-more-activity-container {
  display: flex;
  justify-content: space-evenly;
}

.AboutProjects-show-more-activity {
  cursor: pointer;
  text-align: center;
}

.AboutProjects-jumplink {
  /* anchor tag is moved "higher up" than its content to account for Bootstrap fixed nav bar */
  /* TODO: Make the component use the React prop from MainHeader and then remove this rule, so it can account for the alert message */
  top: -60px;
}

.AboutProjects-positions-available {
  padding: 25px 10px; /*as with description-details consider maxwidth */

  #positions-available {
    width: 100%; /* fixes element repositioning error with read more expand/collapse */
  }

  .form-group {
    margin-bottom: 0; /* margin is handled outside form-group on project page */
  }

  .Position-entry {
    padding: 12px 0;
  }
  .Position-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .Text-section {
    margin-top: 1rem;
  }
}

.AboutProjects-team {
  .upload_img_bdr {
    height: 60px;
    width: 60px;
  }
}

.AboutProjects-groups {
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 15px;
  }
  a {
    vertical-align: top; /* align text with top of group icon instead of bottom */
  }
}
.AboutProjects-group-image {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-right: 10px;
  img,
  i {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  i {
    color: $color-text-dark;
  }
}

.AboutProjects-links {
  /* revisit this padding when icons are in */
  .Link-listitem {
    padding: 0.125rem 0;
  }
}

.AboutProject-button {
  /* note these are in addition to the DL theme button rules */
  float: right;
  font-size: 14px;
  margin-top: 16px;
}
.AboutProjects-file-link {
  /* if a file has a very long filename, it overflows the container and if a project has many files the list is hard to read */
  margin: 12px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1000px) {
  // buttons will align below "-description"
  .AboutProjects-introTop {
    display: inherit;
  }
  //description is then full width
  .AboutProjects-description {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .AboutProjects-root {
    flex-direction: column;
    margin: 0 5px;
    border-radius: 8px;
  }

  .AboutProjects-infoColumn {
    width: 100%;
    order: 2;
  }

  .AboutProjects-mainColumn {
    width: 100%;
    order: 1;
  }

  .AboutProjects-skills-container {
    display: inherit;
    margin-top: 40px;
  }

  .AboutProjects-iconContainer {
    display: none;
  }

  .AboutProjects-positions-available {
    border-bottom: $color-grey-disabled solid 1px;
  }
  .AboutProjects_tabs {
    flex-direction: column;
  }
}

@media (min-width: 1160px) {
  .AboutProjects-root {
    margin-left: auto;
    margin-right: auto;
  }
}
//push tabs and buttons a bit farther apart on narrow devices
@media (max-width: 400px) {
  .AboutProjects_tabs {
    padding-top: 24px;
  }
}

//
//
//
// new CSS here
// delete everything above when we get Groups and Project profiles in the same template
// some of this may move into generic .Profile-x-y classes when we do groups
// but only if it's universal between both
// the use of AboutProject, singular, as the prefix is intended and required
//
//
//

.AboutProject-top-logo {
  min-width: 35%; // no squeezing the image allowed
  padding: 0.5rem;
  border-radius: 5px;
  img {
    object-fit: contain;
    max-width: 100%;
  }
  order: 1;
  flex-basis: 35%;
}

.AboutProject-top-details {
  flex-basis: 100%;
  order: 3;
  padding: 15px 0 0 0;
  max-width: 100%; // this and the break-words keep very long one word titles from breaking container
  overflow-wrap: break-word;
  word-break: break-word;
}

.AboutProject-icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  max-width: 450px; // constrains super-long URLs, text from breaking container
}
.AboutProject-icon-text {
  margin-left: 10px;
  margin-bottom: 0;
}
.AboutProject-url-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @extend .AboutProject-icon-text;
  color: $color-orange;
  &:hover {
    color: $color-orange-dark;
  }
}

.AboutProject-top-interactions {
  flex-basis: 65%;
  order: 2;
}
// make buttons stay in column even if the section is wide enough to stack horizontally
// on narrow mobile devices keep them constrained to a little less than 65% for visual spacing
.AboutProject-owner,
.AboutProject-top-interactions {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  margin-left: auto;
}
.AboutProject-tab-details {
  white-space: pre-wrap; // preserve line breaks
}

.AboutProject-positions-available {
  .Position-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .Text-section {
    margin-top: 1rem;
  }
}
.AboutProject-skilltech-container {
  display: flex;
  flex-direction: column;
}
.AboutProject-skills,
.AboutProject-technologies {
  padding: 15px 0;
  flex-basis: 100%;
}
.AboutProject-positions-available {
  margin: 15px 0;
  .Position-entry {
    border: 1px solid $color-grey-medium;
    border-radius: 5px;
    margin: 30px 0;
    padding: 15px;
  }
  .Position-entry:first-of-type {
    margin-top: 0;
  }
}

.AboutProject-secondary-section {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid $color-grey-frame-border;
  border-radius: 5px;
}
.AboutProject-links .IconLink-right {
  width: 196px; // fixes issue at 320px
}
.AboutProject-group {
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: 15px;
  }
  a {
    vertical-align: top; /* align text with top of group icon instead of bottom */
  }
}
.AboutProject-group-image {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-right: 10px;
  img,
  i {
    object-fit: contain;
    max-width: 100%;
  }
  i {
    color: $color-text-dark;
  }
}
.AboutProject-file-link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0.75rem 0;
}
.AboutProject-show-more-activity-container {
  display: flex;
  justify-content: space-evenly;
}

@include media-breakpoint-up(lg) {
  .AboutProject-top-logo {
    min-width: 250px;
    width: 250px;
  }
  .AboutProject-top-details {
    max-width: initial;
    flex-basis: auto;
    order: 2;
    padding: 0 30px;
  }
  .AboutProject-top-interactions {
    flex-basis: auto;
    order: 3;
    flex-shrink: 0;
  }
  .AboutProject-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      min-width: 260px;
    }
  }
  .AboutProject-skilltech-container {
    flex-direction: row;
  }
  .AboutProject-skills,
  .AboutProjects-technologies {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}

@include media-breakpoint-up(xl) {
  .AboutProject-icon-row {
    max-width: 550px;
  }
}
