.about-us-mission .SplashScreen-content,
.about-us-vision .SplashScreen-content {
  margin: auto 0;
  text-align: left;
}

.about-us-mission,
.about-us-vision {
  background-color: $color-text-grey;
  color: $color-text-light;
}

.about-us-ps {
  background-color: $color-background-light;
}

.about-us-ps hr {
  width: 75%;
}

/* min-heights here for mobile so our content doesn't run outside */
.about-us-mission {
  min-height: 169px;
}

.about-us-vision {
  min-height: 155px;
}

.about-us-content {
  padding: 2rem 0 2rem 1rem;
}
.about-us-values {
  padding-top: 22px;
  background-color: $color-background-light;
}
.about-us-values h2 {
  margin-bottom: 25px;
}
.about-us-values-image {
  margin-top: 25px;
  margin-bottom: 25px;
}
.about-us-team,
.about-us-volunteer,
.about-us-ps {
  padding-top: 36px;
  padding-bottom: 36px;
}
/* on mobile, image should be on top of text, on desktop text should be left and image right */
.about-us-values-core {
  order: 2;
}
.about-us-values-image {
  order: 1;
}
.about-us-values-image img,
.about-us-ps-image img {
  max-width: 100%;
}
.about-us-values-list {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}
.about-us-values-icon {
  width: 36px;
  margin: 0 18px;
  text-align: center;
}
.about-us-values-icon img {
  max-width: 36px; /* matches width of parent */
}
.about-us-values-text h3 {
  color: $color-orange;
}
.about-us-volunteer h2 {
  margin-bottom: 1rem;
}
.about-us-volunteer-logo {
  display: none;
}
.about-us-volunteer-buttons {
  a:first-of-type {
    margin-right: 8px;
  }
}
.about-us-annualreport {
  background: $color-orange;
  h3,
  p,
  i,
  a {
    color: $color-text-light;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    color: $color-text-dark;
  }
  p {
    margin-bottom: 0;
  }
}
.about-us-annualreport-container {
  display: flex;
  align-items: center;
}
.about-us-annualreport-left,
.about-us-annualreport-right {
  padding: 2rem 1rem;
}
.about-us-team-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
}
.about-us-team-card {
  cursor: pointer; /* because these trigger a modal now */
  flex-basis: 50%; /* default 2 wide, will raise at wider breakpoints */
  margin-bottom: 25px;
  text-align: center;
  padding: 0 5px;
}

.about-us-team-avatar,
.about-us-team-avatar-default svg {
  border-radius: 50%;
}
.about-us-team-card svg {
  border: 1px solid $color-grey-frame-border;
}
.about-us-team-card-name {
  font-weight: bold;
  color: $color-link;
  margin: 0.5rem 0;
}
.about-us-team-avatar,
.about-us-team-avatar-default {
  margin: auto; //centers avatar inside card
  background-repeat: no-repeat; //centers image inside avatar
  background-size: cover;
  background-position: center;
}
.about-us-team-avatar img {
  min-height: 100%;
  min-width: 100%;
}
.about-us-team-avatar-default svg {
  padding-top: 20px; /* offsets the svg away from the border where it matters */
}

.about-us-team-avatar,
.about-us-team-avatar-default svg {
  height: 150px;
  width: 150px;
}
.about-us-team hr {
  width: 75%;
  margin: 0 auto 30px auto;
}
.about-us-team-description {
  margin-bottom: 2rem;
}

.about-us-team-card-link {
  color: $color-text-dark;
  text-decoration: none;
}
.about-us-team-avatar:hover {
  border: 5px solid $color-orange;
  color: inherit;
}
.about-us-team-avatar-default svg:hover {
  border: 5px solid $color-orange;
  color: inherit;
}
.about-us-team-card-link:hover {
  color: inherit;
  text-decoration: none;
}
/* selector to italicise Board Member titles; requires specific format in env key to work right. */
/* TODO: refactor to handle this with classnames or similar, this is too fragile */
.about-us-board-container .about-us-team-card-title div:nth-of-type(1) {
  font-style: italic;
}

.about-us-ps h2 {
  color: $color-orange;
}
.about-us-ps-problem,
.about-us-ps-solution {
  margin: 20px 0;
}

/* on desktop, height = height of individual bg images */
@include media-breakpoint-up(sm) {
  .about-us-content {
    padding: 0 32px 0 16px; /*  rules to get linebreaks where the design wants them */
  }
  .about-us-mission {
    height: 650px;
  }
  .about-us-vision {
    height: 329px;
  }
  .about-us-values {
    padding-top: 84px;
  }

  .about-us-values-icon {
    width: 50px;
    margin: 0 25px;
  }
  .about-us-values-icon img {
    max-width: 50px;
  }
  .about-us-values h2 {
    margin-bottom: 50px;
  }
  .about-us-values-image {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .about-us-volunteer {
    background: $color-background-light;
  }
   .about-us-volunteer-logo {
    display: block;
    width: 100%;
    max-width: 266px;
  }
  .about-us-team-card {
    margin-bottom: 30px;
  }
}
@include media-breakpoint-up(md) {
  .about-us-content {
    padding: 0 256px 0 64px; /* check that this makes text break into two lines but not three */
  }
  .about-us-team-avatar,
  .about-us-team-avatar-default svg {
    height: 200px;
    width: 200px;
  }
  .about-us-values-core {
    order: 1;
  }
  .about-us-values-image {
    order: 2;
  }
  .about-us-show-md-up {
    display: block;
  }
  .about-us-show-sm-down {
    display: none;
  }
  .about-us-team-card {
    flex-basis: 33%;
    padding: 0 10px;
  }
}

@include media-breakpoint-up(lg) {
  .about-us-content {
    padding: 0 404px 0 84px; /*  rules to get linebreaks where the design wants them */
  }
  .about-us-team-avatar,
  .about-us-team-avatar-default svg {
    height: 230px;
    width: 230px;
  }
  .about-us-team-card {
    margin-bottom: 50px;
  }
  .about-us-values,
  .about-us-team,
  .about-us-volunteer,
  .about-us-annualreport {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* awkward container align for the flex items inside this container */
  .about-us-annualreport {
    .about-us-annualreport-left {
      padding-left: 0;
    }
    .about-us-annualreport-right {
      padding-right: 0;
    }
  }
}
@include media-breakpoint-up(xl) {
  .about-us-team-card {
    flex-basis: 25%;
    padding: 0 20px;
  }
}
@include media-breakpoint-up(xxl) {
  .about-us-content {
    padding: 0 580px 0 168px;
  }
  .about-us-values,
  .about-us-team,
  .about-us-volunteer,
  .about-us-ps,
  .about-us-annualreport {
    padding-left: 153px; /* match 168px from Vision/Mission, subtract 30 */
    padding-right: 153px;
  }
}
