.about-user-section {
  margin-bottom: 1.5rem;
}
.about-user-section:last-of-type {
  margin-bottom: 2rem;
}
.about-user-section a {
  color: $color-orange;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.about-user-name {
  padding-top: 0.25rem;
}
