// for Section.AboutProjectEventDisplay, child of Profile.scss rules, uses a lot of AboutProject components and rules too
.AboutProjectEvent-primary-container {
  padding: 16px;
  h3 {
    padding-top: 12px;
  }
}
.AboutProjectEvent-top-content {
  border: 1px solid $color-grey-frame-border;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.AboutProjectEvent-event-logo {
  width: 100%; // container takes entire width on mobile
  img {
    object-fit: contain; // don't crop by default
    object-position: center top; // if we do crop, it keeps the top of the image visible
    max-width: 100%;
    display: flex;
    margin: 0 auto; // center in container horizontally
  }
}
.AboutProjectEvent-project-logo img {
  max-height: 150px; // so very tall logo images don't ruin mobile
}
.AboutProjectEvent-top-names {
  width: 100%;
  background: $color-feedback-background-info-weakest;
  padding: 64px 16px; // fixed height approximately 3x text height; could do this dynamically with grid if we need a future enhancement
}
.AboutProjectEvent-top-button {
  button {
    width: 100%; // on mobile full width, unset for desktop
  }
}

@include media-breakpoint-up(lg) {
  .AboutProjectEvent-top-button button {
    width: initial;
  }
}