.Dashboard-summary {
  background-color: #F6F7F8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.Dashboard-detail {
  background-color: #fff;
  padding-top: 128px;
}

.Dashboard-section {
  width: 895px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
}
