.AlertHeader-root {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $color-orange;
  color: $color-text-dark;
  width: 100%;
  line-height: 1.2em;
  min-height: 34px;
  padding-top: 4px;
}

.AlertHeader-text {
  padding-left: 10px;
  width: auto;
  margin: 0.25rem 0;
}

.AlertHeader-text a {
  text-decoration: underline;
  color: $color-text-dark;
}

.AlertHeader-text p,i {
  text-align: center;
}
.AlertHeader-text p {
  margin: 0;
}

.AlertHeader-close {
  width: 30px;
  padding-right: 10px;
  cursor: pointer;
}
