button.alert-signup {
  background-color: $color-green;
  border: 0;
  border-radius: 5px;
  color: $color-text-light;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 31px 10px 32px;
  margin-right: 34px;
  margin-top: 16px;
  margin-bottom: 5px;
}
