.AlertHeader-root {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $color-orange;
  color: $color-text-light;
  width: 100%;
  line-height: 1.2em;
  min-height: 34px;
  padding-top: 4px;
}

.AlertHeader-text {
  padding-left: 10px;
  width: auto;
  margin: 0 auto 0px auto;
}

.AlertHeader-text a {
  text-decoration: underline;
  color: $color-text-light; 
}

.AlertHeader-text p,i {
  text-align: center;
}

.AlertHeader-close {
  width: 30px;
  padding-right: 10px;
  cursor: pointer;
}
