.bio-modal-name {
  color: $color-orange;
  font-size: 24px;
  font-weight: bold;
}
.bio-modal-name a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.bio-modal-title {
  color: $color-text-grey;
  font-size: 18px;
}
.bio-modal-about {
  color: $color-text-dark;
  font-size: 18px;
  font-weight: bold;
}
.bio-modal-root i {
  color: $color-text-grey;
  cursor: pointer;
}
