.bio-modal-name a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.bio-modal-title {
  color: $color-text-grey;
}
.bio-modal-about {
  color: $color-text-dark;
}
.bio-modal-root i {
  color: $color-text-grey;
  cursor: pointer;
}
.bio-modal-root > .modal-dialog {
  top: 0;
}
