/* universal carousel styles */
.carousel-testimonial-root,
.carousel-blog-root {
  .carousel-spacer {
    display: inline-block;
    width: 50px;
    height: 1px;
    border-bottom: 1px solid $color-text-dark;
    margin: 20px 0 10px 0;
  }
  .carousel-item-content {
    padding: 1rem 1rem 4rem 1rem; /* pushes card indicator dots off edge of content */
    width: 80%; /* give space for the arrows on left and right */
    margin: auto;
  }
  .carousel-item {
    border: 1px solid $color-grey-frame-border;
    border-radius: 5px;
  }
  .carousel-indicators li {
    background-color: $color-text-grey;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .carousel-indicators .active {
    background-color: $color-text-dark;
  }
}

/* blog carousel-specific styles */
.carousel-blog-root {
  .carousel-feature-image {
    display: flex;
    img {
      max-width: 100%;
      max-height: 350px;
      margin: 0 auto;
    }
  }
}

/* testimonial carousel-specific styles */
.carousel-testimonial-root {
  text-align: center;
  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
  }

  .carousel-item-left {
    /* centers the avatar on mobile */
    display: flex;
    justify-content: center;
  }

  .carousel-item p {
    padding-top: 10px;
    text-align: left;
  }

  .carousel-avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-repeat: no-repeat; //centers image inside avatar
    background-size: cover;
    background-position: center;
    img {
      min-height: 100%;
      min-width: 100%;
    }
  }
}
@include media-breakpoint-up(lg) {
  /* these rules call out Testimonial cards on screens big enough to not just use the whole div */
  .carousel-testimonial-root,
  .carousel-blog-root {
    background: $color-background-default;
    text-align: left;
    .carousel-item {
      border: none;
      border-radius: initial;
    }
    .carousel-item-content {
      background: $color-background-light;
      border: 1px solid $color-grey-frame-border;
      border-radius: 5px;
    }
  }
  /* testimonial-only rules */
  .carousel-testimonial-root {
    .carousel-item-content {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      min-height: 375px; /* fixing minimum heights to reduce content shift */
    }
    .carousel-avatar {
      margin: 0 1rem;
    }
  }
  /* blog only rules */
  .carousel-blog-root {
    .carousel-item-content {
      min-height: 0; /* fixing minimum heights to reduce content shift */
    }
  }
}
