.ContextualDropdown-root {
  background-color: $color-background-light;
  margin-top: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: absolute;
}

.ContextualDropdown-contextualArrow {
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  border-bottom: 0;
  border-right: 0;
  height: 10px;
  position: absolute;
  top: -6px;
  transform-origin: center;
  transform: rotate(45deg);
  width: 10px;
}
