// font overrides (remove this when we make them globally changed, hopefully apr-2021
.corporate-root {
  line-height: 1.618;
  font-size: 15px;
  //then specifically, to fit some edge cases
  p,
  div,
  span,
  li,
  a {
    line-height: 1.618;
  }
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 15px;
    font-weight: 600;
  }
  p,
  div,
  span,
  li,
  a {
    font-size: 15px;
  }
}
@include media-breakpoint-up(md) {
  .corporate-root {
    font-size: 16px;
    line-height: 1.618;
    p,
    div,
    span,
    li,
    a {
      line-height: 1.5;
    }
    h1 {
      font-size: 39px;
    }
    h2 {
      font-size: 23px;
    }
    h3 {
      font-size: 19px;
    }
    h4 {
      font-size: 16px;
      font-weight: 500;
    }
    p,
    div,
    span,
    li,
    a {
      font-size: 16px;
    }
  }
}
//end font stuff

// corporate page (hackathons and sponsorships)
.corporate-root {
  .nav {
    justify-content: space-evenly;
  }
  .nav-tabs {
    background: $color-background-light;
    border-bottom: 5px solid $color-orange;
  }
  .nav-tabs a {
    text-align: center;
    flex-basis: calc(50% - 20px);
    color: $color-text-dark;
  }
  .nav-link,
  .nav-link:hover {
    border: 1px solid $color-text-dark;
  }
  .nav-link {
    border-bottom: none;
  }
  .nav-link.active {
    font-weight: bolder;
    color: $color-text-dark;
    background: $color-orange;
    border: 1px solid $color-text-dark;
    border-bottom: 1px solid $color-orange;
  }
  .corporate-sources-citation a {
    color: $color-text-dark;
    text-decoration: underline;
  }
  .corporate-sources-citation a:hover {
    color: $color-text-dark;
  }
}

.corporate-top,
.corporate-hackathon-saying,
.corporate-hackathon-saying .carousel-testimonial-root,
.corporate-contact,
.corporate-bottom-section {
  background-color: $color-background-light;
}

.corporate-top {
  padding-top: 3rem;
  h2 {
    padding-top: 3rem;
  }
  .corporate-top-overlay,
  .corporate-bottom-overlay {
    background-blend-mode: multiply;
  }
  .corporate-top-overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.05) 27.79%,
      rgba(0, 0, 0, 0.64) 64.62%,
      rgba(0, 0, 0, 0.84) 100%
    );
  }
  .corporate-bottom-overlay {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 45%
    );
  }
}

.corporate-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.corporate-cta-button {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}
.corporate-hackathon-card,
.corporate-sponsorship-card {
  border: 1px solid $color-grey-frame-border;
  background: $color-background-light;
  margin-bottom: 30px;
  padding: 15px;
  h4 {
    padding: 8px 0 16px 0;
  }
}

@include media-breakpoint-up(lg) {
  .corporate-cta-button {
    display: initial;
  }
  .corporate-hackathon-card,
  .corporate-sponsorship-card {
    min-height: 100%; // equal height cards when displayed in a row
  }
  .corporate-bottom-section {
    min-height: 326px;
  }
}
