/* create event, create group flows */

.create-selected-projects {
  margin-bottom: 1.25rem;
}
.create-selected-project-name {
  border-radius: 20px;
  background-color: #f3a73c;
  height: 40px;
  padding: 10px 30px;
  display: flex;
  margin: 0 10px 10px 0;
  justify-content: center;
  align-items: center;
}
