.create-form.white-bg {
  background-color: $color-background-light;
  padding: 20px;
  border-bottom: 2px solid $color-grey-medium;
  border-top: 2px solid $color-grey-medium;
}

.create-form.grey-bg {
  background-color: $color-background-default;
  padding: 20px;
}

.create-project-saved-emblem {
  margin: auto 1rem auto auto;
  font-weight: bold;
  color: $color-orange;
}
.create-form-buttonrow {
  display: flex;
  justify-content: space-between;
}

.create-form-project-example {
  padding-left: 0.5rem;
}

// quick fix to create's preview view having nested containers (thus, nested gutters)
// TODO: fix this properly so preview is 100% accurate, removing these rules
@include media-breakpoint-up(lg) {
  .create-form .Profile-primary-container {
    width: 550px;
  }
}
@include media-breakpoint-up(xl) {
  .create-form .Profile-primary-container {
    width: 690px;
  }
}
@include media-breakpoint-up(xxl) {
  .create-form .Profile-primary-container {
    width: 902px;
  }
}
