.DonateController-root {
  .radio-button {
    margin: 0px 0px 10px 15px;
    min-width: 70px;
    &:hover {
      color: $color-orange;
      border-color: $color-orange;
      background: none;
    }
    &:focus {
      box-shadow: 0 0 0 .2rem rgba($color-orange-dark, 0.5)
    }
  }

  .checked .radio-button {
    color: $color-orange-dark;
    border-color: $color-orange-dark;
  }
}

.DonateController-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.DonateController-amounts {
  display: flex;
  flex-wrap: wrap;
}

.DonateController-monthly {
  display: flex;
  padding: 1rem 0;
}
.DonateController-text-container {
  padding: 2rem 0;
}
.DonateController-text {
  padding: 2rem 0.5rem;
}
.DonateController-monthly .radio-button {
  width: 150px;
  height: 40px;
}
.PaypalDonationButton {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

@include media-breakpoint-up(lg) {
  .DonateController-monthly .radio-button {
    width: 200px;
    height: 50px;
  }
}
