.DonateController-root {
  .radio-button {
    margin: 0.75rem 0.5rem;
    min-width: 4.375rem;
    &:hover {
      color: $color-orange;
      border-color: $color-orange;
      background: none;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-orange-dark, 0.5);
    }
  }

  .checked .radio-button {
    color: $color-orange-dark;
    border-color: $color-orange-dark;
  }
}

.DonateController-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.DonateController-amounts {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px; /* each button including padding is 86px so this makes it 4 wide at most */
}

.DonateController-monthly {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  padding: 1rem 0;
  .radio-button {
    width: 150px;
    height: 40px;
  }
}
.DonateController-text-container {
  padding: 2rem 0;
}
.PaypalDonationButton {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
.DonateController-subheader {
  width: 100%;
}
@include media-breakpoint-up(lg) {
  .DonateController-root .radio-button {
    height: 50px;
  }
}
