.EmailVerifiedController-root {
  font-weight: 300;
  width: 450px;
  max-width: 800px;
  margin: 168px auto;
}

.EmailVerifiedController-greeting {
  margin-bottom: 27px;
  min-width: 380px;
  padding-left: 100px;
}

.EmailVerifiedController-logo {
  width: 450px;
  padding-left: 170px;
  padding-bottom: 20px;
  float: left;
}

.EmailVerifiedController-logo img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
}

@include media-breakpoint-up(md) {
  // This is where width of the screen > 768 px
  .EmailVerifiedController-logo {
    width: 70px;
    padding-left: 10px;
    padding-bottom: 0px;
  }
}
