.EmailVerifiedController-root {
  min-height: 400px;
}
.EmailVerifiedController-logo {
  margin: 32px 0;
}
.EmailVerifiedController-greeting {
  margin: 0 0 32px 0;
}

.EmailVerifiedController-logo img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
