.FileSelectButton-wrapper {
    position:relative;
    border: 1px solid black;
    border-radius:10px;
    .FileSelectButton-innerWrapper {
        position:relative;
        height:100%;
        width:100%;
        padding:10px;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius:10px;
    }
    .FileSelectionButton-dragTargetArea {
        background-color:  rgba($color: #000000, $alpha: .4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    &.FileSelectButton-imagePreview {
        width:300px;
        height:300px;
        max-width: 100%;
        .FileSelectButton-innerContent {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .FileSelectButton-previewImage {
            height:100%;
            text-align:center;
        }
    } 
    .file-drop-target {
        height:100%;
    }
    .FileSelectButton-dragFiles {
        text-align:center;
        padding:10px;
        color:#FFFFFF;
        font-weight: bold;
        width:264px;
        margin:auto;
        border-radius:5px;
    }
    .FileSelectButton-button {
        text-align: center;
    }
}