.EventCard-root {
  background-color: $color-background-light;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
  color: $color-text-dark;
  margin: 0.5rem 0;
}
.FindEventsController-topsplash h1 {
  font-size: 4rem;
}
.EventCard-root h2 {
  font-size: 1.333rem;
  margin: 0.5rem 0;
}
.EventCard-root h4 {
  font-size: 0.875rem;
  color: $color-text-grey;
}
.EventCard-root a {
  text-decoration: none;
  color: $color-text-dark;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: 100%;
}
.EventCard-logo {
  grid-column: 1;
  grid-row: 1;
  display: grid;
}
.EventCard-url-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-Space: nowrap;
    margin: auto;
}
.EventCard-logo img {
  max-width: 97%;
  max-height: 95%;
  display: block;
  margin: auto;
}
.EventCard-info {
  grid-column: 1;
  grid-row: 2;
  overflow-wrap: break-word;
}
.EventCard-info ul {
  color: $color-text-grey;
  list-style-type: none;
  font-size: 0.875rem;
  word-break: break-all; //break long items to stay in container
  padding: 0;
}
.EventCard-info li {
  margin-top: 0.25rem;
  display: block;
}
.EventCard-time {
  grid-column: 1;
  grid-row: 3;
}

@include media-breakpoint-up(md) {
  .EventCard-root a {
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 100%;
  }
  .EventCard-logo {
    grid-column: 1;
    grid-row: 1;
  }
  .EventCard-info {
    grid-column: 2;
    grid-row: 1;
  }
  .EventCard-time {
    grid-column: 3;
    grid-row: 1;
  }
}
