.FlashMessage-root {
    width: 90%;
    margin: auto;
  }

.FlashMessage-root div {
    padding: 0.5em 1em;
    margin: 0.5em 0;
  }  

.FlashMessage-root .info {
  background-color: rgba(0, 183, 255, 0.856)
}

.FlashMessage-root .error {
  background-color: rgba(255, 0, 0, 0.192)
}
  