body {
  background-color: $color-background-default;
}

// uses democracyLab orange for a "themed button", use class="btn btn-theme"
.btn-theme {
  background-color: $color-orange;
  color: $color-text-light;

  a[type="button"], a {
    color: $color-text-light;
    text-decoration: none;
  }
}
.btn-theme:hover {
  background-color: $color-orange-darker;
  color: $color-text-light;

  a[type="button"]:hover, a:hover {
    color: $color-text-light;
    text-decoration: underline;
  }
}

//these are "helper classes" with one declaration each
.background-light {
  background-color: $color-background-light;
}

//use to clear -appearance settings, e.g. fix macOS/chrome bug with -webkit-appearance: button on react-bootstrap <Button href=""> components
.clearAppearance {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}
