body {
  background-color: $color-background-default;
}

// footer buttons are difficult to theme in Bootstrap, so define manually
//TODO: Sass variables
.btn-footer {
  background-color: $color-background-light;
  color: $color-text-dark;
}
.btn-footer a, .btn-footer a[type="button"] {
  color: $color-text-dark;
  text-decoration: none;
}
.btn-footer:hover, .btn-footer:active {
  background-color: $color-orange-light;
  color: $color-text-dark;
  border-color: $color-orange-dark;
}
a.btn-footer:hover, a.btn-footer:active, a[type="button"].btn-footer:hover, a[type="button"].btn-footer:active  {
  text-decoration: none;
}

//Sets button states to be our specific values instead of default computed by Bootstrap
//I don't think we're going to call these colors manually at any point so no vars here
.btn-success:active, .btn-success:hover {
  background-color: #395e00;
}
.btn-danger:active, .btn-danger:hover {
  background-color: #b20000;
}
.btn-info:active, .btn-info:hover {
  background-color: #025d87;
}


//Global override of disabled state input elements
input[type="submit"]:disabled {
  background: $color-grey-disabled;
  border: $color-disabled-border;
}



//for on-page actions we want to appear as links
.pseudo-link {
  color: $color-orange;
  text-decoration: underline;
}

//class-based toggle of background color
.background-light {
  background-color: $color-background-light;
}

// .bounded-content should be used inside a .container-fluid; letting us have full width background with .container width content */
@include media-breakpoint-up(sm) {
  .bounded-content {
    width: 540px;
  }
}

@include media-breakpoint-up(md) {
  .bounded-content {
    width: 720px;
  }
}
@include media-breakpoint-up(lg) {
  .bounded-content {
    width: 960px;
  }
}
@include media-breakpoint-up(xl) {
  .bounded-content {
    width: 1140px;
  }
}
@include media-breakpoint-up(xxl) {
  .bounded-content {
    width: 1400px;
  }
}

// header text decorator
.side-lines:before,
.side-lines:after {
  background-color: $color-text-dark;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}
.side-lines:before {
  right: 0.5em;
  margin-left: -21%;
}
.side-lines:after {
  left: 0.5em;
  margin-right: -21%;
}
