.AggregatedDashboard-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; // make titles two rows maximum
    -webkit-box-orient: vertical;
    font-size: 23px;
    font-weight: medium;
    overflow: hidden;
    align-self: start; // stops character descenders from getting clipped, weird but works
}

.hackathon-section {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 88px;
}

.hackathon-section .hackathon-card {
  height: auto;
  border: 1px solid #828282;
  border-radius: 4px;
  padding-top: 49px; // Need further investigation to maintain 59px
  padding-bottom: 59px;
  // width: 264px;
  // height: 208px;
  text-align: center;
  background-color: #fff;
  align-items: center;
  margin: 0 30px;
}

@include media-breakpoint-up(xs) {
  .hackathon-section {
    flex-direction: row;
    flex-wrap: wrap;
    .hackathon-card {
      flex-basis: 90%;
      min-width: 90%;
      margin-bottom: 24px;
    }
  }
}

@include media-breakpoint-up(sm) {
  .hackathon-section {
    flex-direction: row;
    flex-wrap: wrap;
    .hackathon-card {
      flex-basis: 80%;
      min-width: 80%;
      margin-bottom: 24px;
    }
  }
}

@include media-breakpoint-up(md) {
  .hackathon-section {
    flex-direction: row;
    flex-wrap: wrap;
    .hackathon-card {
      flex-basis: 60%;
      min-width: 60%;
      margin-bottom: 24px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .hackathon-section {
    flex-wrap: nowrap;
    .hackathon-card {
      flex-basis: 22%;
      min-width: 22%;
      // margin-bottom: 24px;
    }

    // .ProjectCard-root:not(:last-child) {
    //   margin-right: 10px;
    // }
  }
}

@include media-breakpoint-up(xl) {
  .hackathon-section {
    flex-wrap: nowrap;
    .hackathon-card {
      flex-basis: 22%;
      min-width: 22%;
      // margin-bottom: 24px;
    }

    // .ProjectCard-root:not(:last-child) {
    //   margin-right: 10px;
    // }
  }
}

@include media-breakpoint-up(xxl) {
  .hackathon-section {
    flex-wrap: nowrap;
    .card {
      flex-basis: 22%;
      min-width: 22%;
      // margin-bottom: 24px;
    }

    // .ProjectCard-root:not(:last-child) {
    //   margin-right: 10px;
    // }
  }
}

.hackathon-section .hackathon-card span {
  color: #F79E02;
  font-size: 48px;
  font-family: Montserrat;
//   margin-top: 59px;
//   margin-bottom: 8px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.hackathon-section .hackathon-card h4 {
    color: #191919;
    font-size: 16px;
    font-weight: 500;
    // margin-bottom: 59px;
    margin: 0;
    padding: 0;
}

.bottom-text {
    color: #191919;
    font-size: 16px;
    font-weight: normal;
    font-family: Montserrat;
    margin-top: 88px;
}
