.IconLink-root {
  display: flex;
  padding-bottom: 20px;
}

.IconLink-root p {
  margin: 0 0 0 0;
  font-size: 16px;
}

.IconLink-root i {
  color: $color-text-dark;
  align-items:center;
  display: block;
}

.IconLink-left {
  float: left;
  width: 60px;
  height: 64px;
  padding:15px;
  border: 1px solid lightgray;
  border-top-left-radius:5px;
  border-bottom-left-radius: 5px;

}

.IconLink-right {
  float: right;
  width: 200px;
  height:64px;
  line-height: 23px;
  border-top: 1px solid lightgray;
  border-top-right-radius: 5px;
  border-right: 1px solid lightgray;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid lightgray;

}

.IconLink-topText {
  color: $color-text-dark;
  font-weight: 600;
  padding-top: 5%;
  padding-left: 8%;
}

.IconLink-bottomText {
  color: $color-text-grey;
  // margin-bottom: 5px;
  padding-left: 8%;
}