.IconLink-root {
  display: flex;
  padding-bottom: 20px;
}

.IconLink-root a {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
  min-width: 0; // see https://css-tricks.com/flexbox-truncated-text/
  text-decoration: none; // we decorate sub-elements to control what does it
}

.IconLink-root p {
  margin: 0;
}

.IconLink-root i {
  color: $color-text-dark;
  align-items: center;
  display: block;
}

.IconLink-left {
  width: 60px;
  height: 64px;
  padding: 15px;
  border: 1px solid $color-grey-medium;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.IconLink-right {
  width: 100%; // makes it "take up all remaining space"
  height: 64px;
  line-height: 23px;
  border-top: 1px solid $color-grey-medium;
  border-top-right-radius: 5px;
  border-right: 1px solid $color-grey-medium;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid $color-grey-medium;
  overflow: hidden; // has to be set here and in <p>
  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.IconLink-root:hover p, .IconLink-root:active p {
  text-decoration: underline;
}
.IconLink-root:hover .IconLink-topText {
  color: $color-link-hover;
}
.IconLink-root:active .IconLink-topText {
  color: $color-link-active;
}


.IconLink-topText {
  font-weight: 600;
  padding-top: 10px;
  padding-left: 8px;
}

.IconLink-bottomText {
  color: $color-text-grey;
  // margin-bottom: 5px;
  padding-left: 8px;
}
