.ImageCropUploadButton-cropper {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;

  .ImageCropUploadButton-buttonGroup {
    margin-top: 5px;

    input[type="button"]:not(:last-child) {
      margin-right: 10px;
    }
  }

  .FileSelectButton-dragFiles {
    color: #fff;
    font-weight: bold;
  }
  .ReactCrop__image {
    height: 100%;
  }
}
