.ImageCropUploadButton-cropper {
    position:relative;
    border: 1px solid black;
    border-radius:10px; 

    .ImageCropUploadButton-buttonGroup {
        margin: 5px 0 10px 10px;

        input[type="button"]:not(:last-child) {
            margin-right: 10px;
        }
    }

    .FileSelectButton-dragFiles {
        color:#FFF;
        font-weight:bold;
    }
    .ReactCrop__image {
        height:100%;
    }
}