.RecentProjects-title,
.RecentProjects-button {
  text-align: center;
}
.RecentProjects-title h2 {
  margin-bottom: 1rem;
}
.RecentProjects-button {
  padding: 10px 0 0 0; /* push button away from cards a bit */
}
.RecentProjects-toggle {
  display: none; /* these only show at desktop */
}

.RecentProjects-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;

  /* layout for project cards */
  .ProjectCard-root {
    flex-basis: 100%;
    min-width: 100%;
    height: auto;
  }
}
.LandingController-partnersinaction-logo {
  margin: 5px; /* override this on desktop */
}
.LandingController-root .SplashScreen-content {
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.LandingController-topsplash .SplashScreen-content h1 {
  margin-bottom: 0;
}
.LandingController-midsplash h1 {
  padding-top: 20px;
}
.LandingController-midsplash p {
  max-width: 500px;
  white-space: pre-wrap;
}
/* midsplash isn't respecting margin rules because ??? */
.LandingController-midsplash p,
.LandingController-midsplash a {
  margin-left: auto;
  margin-right: auto;
}

.LandingController-pathflows-item {
  flex-basis: 26%;
}
.LandingController-pathflows-arrow {
  flex-basis: 10%;
  margin: 0 auto; /* ensure the arrow is horizontally centered in its assigned space */
}
.LandingController-volunteer-flow {
  background: $color-orange;
}
.LandingController-recruit-flow {
  background: $color-background-light;
}
.LandingController-volunteer-flow,
.LandingController-recruit-flow {
  padding: 20px;
  text-align: center;
}
.LandingController-testimonial-container {
  margin-bottom: 20px;
  h2 {
    margin: 1rem 0 1.5rem 0;
  }
}

.LandingController-partnersinaction {
  padding: 20px 0;
}
.LandingController-partnersinaction h2 {
  margin: 1rem 0 1.5rem 0;
}
.LandingController-partnersinaction-logo img {
  width: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 10px;
}
.LandingController-partnersinaction-logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.LandingController-partnersinaction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
}
.LandingController-pathflows-stepcontainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.LandingController-pathflows-stepcontainer p {
  margin-top: 8px;
}

// start new CSS (will review old CSS before PR)
//local scope variables
.LandingController-root {
  $nav-tabs-border-color: $color-neutral-60;
}

.LandingController-options,
.LandingController-latestblogposts {
  padding-top: 24px;
  background-color: $color-background-light;
}
.LandingController-hero {
  padding-top: 24px;
}
.LandingController-tabs .nav-link.active {
  box-shadow: 0px -3px 0 0 $color-brand-70 inset;
}
.LandingController-tab-section {
  border-left: 1px solid $color-neutral-60;
  border-bottom: 1px solid $color-neutral-60;
  border-right: 1px solid $color-neutral-60;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; // horizontal padding handled per-element
  h4 {
    margin-bottom: 40px;
  }
  h4:nth-child(n + 2) {
    // "all but first" rules for tab with multiple H4s
    margin-top: 40px;
  }
}
.LandingController-icon-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-left: 8px;
  padding-right: 8px; // minimum space between content and border line
  margin-bottom: 40px;
}
.LandingController-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  i {
    font-size: 32px; // sizes each to 32px height on mobile
    line-height: 32px;
    margin-bottom: 24px; // space between icon and text
  }
}
.LandingController-hero {
  margin-top: 16px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.LandingController-hero-video-container {
  border-width: 5px;
  border-style: solid;
  border-color: $color-background-default; // fallback in case the image can't show for whatever reason
  // border-image-source: url("dlab-hero-border.png") is controlled in JSX because it uses cdn.image()
  border-image-slice: 1;
  border-image-repeat: round;
  margin: auto;
}

.LandingController-hero-video {
  width: 230px;
  aspect-ratio: 1.4; // the background image is built for a 1.4:1 AR, don't change that unless you also change border-image-slice
  // background-image: url("dlab-hero-background.jpg") is controlled in JSX because it uses cdn.image()
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; // so the play button goes in the right place
  cursor: pointer;
}
.LandingController-next-hackathon {
  padding-top: 16px;
  padding-bottom: 40px;
  h2 {
    text-align: center;
  }
}
.LandingController-next-hackathon-rsvp {
  text-align: center;
  margin-top: 1rem;
}
.LandingController-recent {
  .RecentProjects-button {
    margin-bottom: 0.5rem;
  }
}

.LandingController-chart-section {
  .lc-gridbox-container {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
  }
  .lc-gridbox {
    display: grid;
    grid: repeat(3, (minmax(10px, 1fr))) / repeat(3, (minmax(10px, 1fr)));
    border-left: 1px solid $color-border-weakest;
    border-bottom: 1px solid $color-border-weakest;
  }
  .lc-big-box {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    svg {
      width: 100%;
    }
  }
  .lc-text {
    @extend .h4;
    place-self: center;
  }
  .lc-vertical-left {
    writing-mode: vertical-rl;
    margin: auto 0 auto auto;
    text-align: center;
    line-height: 3;
  }
}

// ======= media queries ====== //
@include media-breakpoint-up(md) {
  .LandingController-hero-video-container {
    border-width: 8px;
  }
  .LandingController-hero-video {
    width: 460px;
  }
}

@include media-breakpoint-up(lg) {
  .LandingController-hero-video-container {
    border-width: 12px;
  }
}

@include media-breakpoint-up(xl) {
  .LandingController-hero-video {
    width: 560px;
  }
}
// end new CSS (aug 2022)

@include media-breakpoint-up(md) {
  .RecentProjects-cards {
    flex-direction: row;
    flex-wrap: wrap;

    .ProjectCard-root {
      flex-basis: 45%;
      min-width: 45%;
    }
  }
  .LandingController-icon {
    i {
      font-size: 48px;
      line-height: 48px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .LandingController-icon {
    i {
      font-size: 64px;
      line-height: 64px;
    }
  }
  .LandingController-partnersinaction-logo {
    margin: 5px 20px; /* to get the correct number per row we add margin at lg and above */
  }
  .RecentProjects-cards {
    flex-wrap: nowrap;

    .ProjectCard-root {
      flex-basis: 30%;
      min-width: 30%;
    }

    .ProjectCard-root:not(:last-child) {
      margin-right: 10px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      top: 180px;
      width: 25px;
      align-items: self-start;
    }
    .carousel-control-prev {
      display: none;
    }
  }
  .RecentProjects-toggle {
    margin: 120px 0 0 0;
    display: inline-block;
    width: 20px;
    color: $color-grey-medium;
    padding: 20px 5px;
    cursor: pointer;
  }
  .RecentProjects-toggle:hover {
    color: $color-text-dark;
  }
  .LandingController-root .SplashScreen-content {
    padding-bottom: 3rem;
  }
  .ProjectCard-root {
    min-height: 535px;
  }
  .LandingController-options,
  .LandingController-latestblogposts {
    padding-top: 40px;
  }
  .LandingController-hero {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 40px;
    flex-direction: row;
    gap: 40px;
    .LandingController-hero-text {
      max-width: 45%;
    }
  }
}

@include media-breakpoint-up(xl) {
  .ProjectCard-root {
    min-height: 405px;
  }
  .LandingController-hero {
    .LandingController-hero-text {
      max-width: 40%;
    }
  }
}
@include media-breakpoint-up(xxl) {
  .LandingController-hero {
    padding-left: 4rem; // 64px
    padding-right: 4rem;
  }
  .ProjectCard-root {
    min-height: 380px;
  }
}

.LandingController-fixed-width-button {
  width: 180px; // TODO: deprecate
}
