.RecentProjects-title,
.RecentProjects-button {
  text-align: center;
}
.RecentProjects-title h2 {
  margin-bottom: 1rem;
}
.RecentProjects-button {
  padding: 10px 0 0 0; /* push button away from cards a bit */
}
.RecentProjects-toggle {
  display: none; /* these only show at desktop */
}

.RecentProjects-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;

  /* layout for project cards */
  .ProjectCard-root {
    flex-basis: 100%;
    min-width: 100%;
    height: auto;
  }
}
.LandingController-partner-section {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .PartnerSection {
    padding: 60px 10px; /* makes sure div isn't too short regardless of min-height, makes sure content doesn't hit edges */
  }
}
.LandingController-partnersinaction-logo {
  margin: 5px; /* override this on desktop */
}
.LandingController-root .SplashScreen-content {
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.LandingController-topsplash .SplashScreen-content h1 {
  margin-bottom: 0;
}
.LandingController-midsplash h1 {
  padding-top: 20px;
}
.LandingController-midsplash p {
  max-width: 500px;
  white-space: pre-wrap;
}
/* midsplash isn't respecting margin rules because ??? */
.LandingController-midsplash p,
.LandingController-midsplash a {
  margin-left: auto;
  margin-right: auto;
}

.LandingController-pathflows-item {
  flex-basis: 26%;
}
.LandingController-pathflows-arrow {
  flex-basis: 10%;
  margin: 0 auto; /* ensure the arrow is horizontally centered in its assigned space */
}
.LandingController-volunteer-flow {
  background: $color-orange;
}
.LandingController-recruit-flow {
  background: $color-background-light;
}
.LandingController-volunteer-flow,
.LandingController-recruit-flow {
  padding: 20px;
  text-align: center;
}
.LandingController-testimonial-container {
  margin-bottom: 20px;
  h2 {
    margin: 1rem 0 1.5rem 0;
  }
}

.LandingController-partnersinaction {
  padding: 20px 0;
}
.LandingController-partnersinaction h2 {
  margin: 1rem 0 1.5rem 0;
}
.LandingController-partnersinaction-logo img {
  width: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 10px;
}
.LandingController-partnersinaction-logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.LandingController-partnersinaction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
}
.LandingController-pathflows-stepcontainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.LandingController-pathflows-stepcontainer p {
  margin-top: 8px;
}

// start new CSS (will review old CSS before PR)

.LandingController-options, .LandingController-latestblogposts  {
  padding-top: 24px;
  background-color: $color-background-light;
}
.LandingController-hero {
  padding-top: 24px;
}
// end new CSS (aug 2022)


@include media-breakpoint-up(md) {
  .RecentProjects-cards {
    flex-direction: row;
    flex-wrap: wrap;

    .ProjectCard-root {
      flex-basis: 45%;
      min-width: 45%;
    }
  }
}

@include media-breakpoint-up(lg) {
   .LandingController-partnersinaction-logo {
    margin: 5px 20px; /* to get the correct number per row we add margin at lg and above */
  }
  .RecentProjects-cards {
    flex-wrap: nowrap;

    .ProjectCard-root {
      flex-basis: 30%;
      min-width: 30%;
    }

    .ProjectCard-root:not(:last-child) {
      margin-right: 10px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      top: 180px;
      width: 25px;
      align-items: self-start;
    }
    .carousel-control-prev {
      display: none;
    }
  }
  .RecentProjects-toggle {
    margin: 120px 0 0 0;
    display: inline-block;
    width: 20px;
    color: $color-grey-medium;
    padding: 20px 5px;
    cursor: pointer;
  }
  .RecentProjects-toggle:hover {
    color: $color-text-dark;
  }
  .LandingController-root .SplashScreen-content {
    padding-bottom: 3rem;
  }
  .ProjectCard-root {
    min-height: 535px;
  }
  .LandingController-hero, .LandingController-options, .LandingController-latestblogposts {
    padding-top: 36px;
  }
}


@include media-breakpoint-up(xl) {
  .ProjectCard-root {
    min-height: 405px;
  }
}
@include media-breakpoint-up(xxl) {
  .ProjectCard-root {
    min-height: 380px;
  }
}

.LandingController-fixed-width-button {
  width: 180px; // TODO: deprecate 
}