.RecentProjects {
  text-align: center;
  background: $color-background-light;
  padding: 20px 0 40px 0; /* extra padding to keep background color correct between this and pathflows section */
}

.RecentProjects-cards {
  display: flex;
}

.PartnerSection {
  text-align: center;
}

.LandingController-root .SplashScreen-content {
  margin: auto;
  p {
    max-width: 500px;
  }
}


.LandingController-testimonial-container {
  padding: 20px 0;
  background: $color-background-light; /* on mobile the whole div is used as a "card" so background appropriately) */
}
.LandingController-pathflows-item {
  flex-basis: 26%;
}
.LandingController-pathflows-arrow {
  flex-basis: 10%;
}
.LandingController-volunteer-flow {
  background: $color-orange;
}
.LandingController-recruit-flow {
  background: $color-background-light;
}
.LandingController-volunteer-flow, .LandingController-recruit-flow {
  padding: 20px;
  text-align: center;
}

.LandingController-testimonial-container {
  text-align: center;
  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
  }
  .carousel-spacer {
    display: inline-block;
    width: 50px;
    height: 1px;
    border-bottom: 1px solid $color-text-dark;
    margin: 20px 0 10px 0;
  }
  .carousel-item-content {
    padding: 1rem;
  }

  .carousel-item p {
    padding: 10px 0 20px 0;
    text-align: left;
  }
  .carousel-inner {
    margin-bottom: 20px; /* because the indicators are absolutely positioned in the div, this effectively pushes them down a bit */
  }
  .carousel-indicators li {
    background-color: $color-text-grey;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .carousel-indicators .active {
    background-color: $color-text-dark;
  }
}
.LandingController-testimonial-container .carousel-avatar {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  img {
    object-fit: cover;
  }

}
.LandingController-partnersinaction {
  padding: 20px 0;
  background-color: $color-background-light;
}
.LandingController-partnersinaction h2 {
  margin-bottom: 20px;
}
.LandingController-partnersinaction-logo img {
  width: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 10px;
}
.LandingController-partnersinaction-logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.LandingController-partnersinaction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
}
.LandingController-pathflows-stepcontainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.LandingController-pathflows-stepcontainer p {
  margin-top: 8px;
}

@include media-breakpoint-up(lg) {
  /* these rules call out Testimonial cards on screens big enough to not just use the whole div */
  .LandingController-testimonial-container {
    background: $color-background-default;
    text-align: left;
    .carousel-item-content {
      display: flex;
      flex-flow: row nowrap;
    }
    .carousel-item-left img {
      margin: 0 20px 0 10px; /* if an image is in this section, give it some margin, otherwise no need to take up the space */
    }
  }
  .LandingController-testimonial-container .carousel-item-content {
    width: 80%; /* set these widths better, this is testing */
    background: $color-background-light;
    border: 1px solid $color-grey-frame-border;
    border-radius: 5px;
    margin: auto;
  }
}
