.LatestBlogPosts-container, .LatestBlogPosts-authorblock, .LatestBlogPosts-postinfo {
    display: flex;
    --blog-grid-rows: 250px 40px 65px 1fr auto auto;

}
.LatestBlogPosts-post {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--blog-grid-rows);
}
.LatestBlogPosts-post:last-of-type {
    display: none;
}
.LatestBlogPosts-featureimage {
    max-width: 100%;
    max-height: 250px;
    margin: auto; // center image if it doesn't span full width/height
    
}
.LatestBlogPosts-author-avatar {
    width: 36px;
    margin: 0 0 auto 0;
}
.LatestBlogPosts-postinfo {
    flex-direction: column;
    margin-bottom: 1rem;
}
.LatestBlogPosts-primarytag {
    text-transform: uppercase;
    font-weight: bold;
}

@include media-breakpoint-up(lg) {
    .LatestBlogPosts-container {
        gap: 40px;
        padding: 40px;
    }
    .LatestBlogPosts-post {
        flex-basis: 50%;
    }
    .LatestBlogPosts-post:last-of-type {
        display: grid;
    }
}