.LogInController-root {
  background-color: white;
  border: solid 0.5px #979797;
  font-weight: 300;
  margin: 168px 25%;
  padding: 58px 145px;
}

.LogInController-input {
  border: solid 1px #6b6e70;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}

.LogInController-greeting {
  margin-bottom: 27px;
}

.LogInController-signInButton {
  background-color: #86c232;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 19px;
  height: 42px;
  margin-left: 40%;
  width: auto;
}

.LogInController-signInButton:disabled {
  background-color: #dddddd;
  cursor: no-drop;
}

.LogInController-forgotPassword {
  text-align: center;
  float: right;
  font-size: 13px;
}