.LogInController-root {
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  font-weight: 300;
  width: 90%;
  max-width: 800px;
  margin: 76px auto;
  padding: 58px 5% 30px 5%;
  overflow: auto;
}

.LogInController-input {
  border: solid 1px $color-grey-frame-border;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 200px;
}

.LogInController-greeting {
  margin-bottom: 27px;
  min-width: 200px;
}

.LogInController-signInButton {
  background-color: $color-green;
  border: none;
  border-radius: 5px;
  color: $color-text-light;
  cursor: pointer;
  font-size: 19px;
  height: 42px;
  width: auto;
  float: right;
}

.LogInController-signInButton:disabled {
  background-color: $color-grey-disabled;
  cursor: no-drop;
  float: right;
}

.LogInController-bottomSection {
  width: 100%;
  height: 42px;
}

.LogInController-forgotPassword {
  text-align: center;
  float: left;
  font-size: 14px;
}

.LogInController-createAccount {
  text-align: center;
  float: left;
  font-size: 14px;
  margin-right: 30px;
}

.LogInController-socialSection {
  display: block;
  margin-top: 15px;
  width: 100%;
}

.LogInController-socialLink {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid $color-background-dark;
  margin-bottom: 10px;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;

  a {
    display: flex;
    align-items: center;
    color: $color-text-dark;
    padding-left: 15px;
  }

  span {
    padding-right: 15px;
  }
}

.LogInController-socialIcon svg{
  overflow: hidden;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.LogInController-google svg{
  padding: 5px 0 4px 0;
}