.MainFooter-footer {
  background-color: $color-background-default;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.MainFooter-item {
  padding-top: 20px;
}

.MainFooter-sponsor img{
  max-width: 200px;
}
.MainFooter-sponsor-link, .MainFooter-sponsor img {
  background: $color-background-light;
}
.MainFooter-border {
  width: 100%;
  height: 1px;
  border-top: 1px solid $color-grey-medium;
}
