.MainFooter-footer {
  background-color: $color-background-default;
  width: 100%;
  padding: 0 20px 20px 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.MainFooter-item {
  padding-top: 20px;
}
.MainFooter-border {
  width: 100%;
  height: 1px;
  border-top: 1px solid $color-grey-medium;
}
.MainFooter-sponsor-container {
  padding-top: 40px;
}
.MainFooter-sponsor-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
}
.MainFooter-sponsor {
  margin: 0 auto;
  padding: 20px 0;
}
.MainFooter-pws-button {
  margin-top: 12px;
}
