$break-small: 498px;
$break-large: 1200px;


.MainHeader-root {
  font-size: 12px;
  height: 54px;
}

.MainHeader-logo {
  cursor: pointer;
  width: 200px;
  height: 100%;
}

.MainHeader-profilePicture {
  border-radius: 5px;
  margin-right: 40px;
  vertical-align: middle;
  width: 40px;
}

.MainHeader-rightContent {
  float: right;
}

.MainHeader-links {
  @media screen and (max-width: $break-small) {
    display: none;
  }  
  float: right;
}

.MainHeader-hamburger {
  @media screen and (max-width: $break-small) {
    display: block;
  }  
  display: none; 
}

.MainHeader-navDrawer {
  margin-top: 25px;
  width: 43.72vw;
}

.MainHeader-drawerSpan {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
}


.MainHeader-dropdownButton {
  cursor: pointer;
  text-decoration: none;
  color: $color-text-dark;
}
