.MainFooter-footer {
  background-color: $color-background-default;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  h2, h3 {
    margin-bottom: 0; // margin spacing is handled elsewhere in this section
  }
  border-top: 1px solid $color-border-weak;
}
.MainFooter-item {
  padding: 20px 0;
}
.MainFooter-sponsor-container {
  padding-top: 40px;
  h2 {
    margin-bottom: 0;
  }
}
.MainFooter-sponsor-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  gap: 30px 60px;
  padding-top: 40px; // 30 standard + 10 for extra section spacing)
  padding-bottom: 30px;
}
.MainFooter-sponsor {
  flex-basis: calc(
    50% - 30px
  ); //30px is 1/2 of row-gap declared on parent, so we have 2-wide sponsors on mobile
}
.MainFooter-footer img {
  max-width: 100%;
}
.MainFooter-sponsor {
  max-width: 200px;
}
.MainFooter-category-in-kind .MainFooter-sponsor {
  max-width: 150px; // for in-kind only, shrink below standard sponsor max
}
@include media-breakpoint-up(sm) {
  .MainFooter-sponsor {
    flex-basis: auto; // removing forced 2-wide on mobile, letting it flex naturally now
  }
}
@include media-breakpoint-up(lg) {
  //desktop numbers are typically mobile * 1.5, to keep ratios consistent
  .MainFooter-sponsor-wrapper {
    gap: 45px 90px;
    padding-top: 60px; // 45 standard + 15 for extra section spacing
    padding-bottom: 45px;
  }
  .MainFooter-footer {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
