//keep page content off header and footer edges
.MyEventsController-root {
  padding-top: 1rem;
  padding-bottom: 2rem;

  //keep subheaders within a section apart
  .EventCardContainer-section-header:nth-of-type(n + 2) {
    margin-top: 3rem;
  }
}

// keep multiple sections apart
.MyEvents-eventsection:nth-of-type(n + 2) {
  margin-top: 3rem;
}
