.MyProjectCard-root {
  color: inherit;
}

.MyProjectCard-column {
  width: 250px;
}

.MyProjectCard-header {
  color: $color-text-dark;
}

.MyProjectCard-projectName {
  font-weight: bold;
}

.MyProjectCard-img {
  float: left;
}

.MyProjectCard-volunteerName {
  font-weight: bold;
}

.MyProjectCard-volunteerRole  {
  font-weight: normal;
}

.MyProjectCard-dropdownButton {
  display: inline-block;
}

.MyProjectCard-table {
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  margin: 20px 80px;
  padding: 16px;
  width: 1120px;
}

.MyProjectCard-button {
  margin: 5px;
}
