.MyProjectCard-root {
  color: inherit;
  clear: both;
  height: 101px;
  padding-bottom: 20px;
}

.MyProjectCard-column {
  width: 250px;
}

.MyProjectCard-header {
  color: $color-text-dark;
}

.MyProjectCard-projectName {
  font-weight: bold;
}

.MyProjectCard-img {
  float: left;
  border: none;
  border-radius: 0px;
  margin-right: 10px;
}

.MyProjectCard-volunteerName {
  font-weight: bold;
  padding-top: 10px;
}

.MyProjectCard-volunteerRole  {
  font-weight: normal;
}

div.MyProjectCard-dropdownButton {
  display: inline;
  font-size: 1.5em;
}

.MyProjectCard-danger {
  background-color: red;
}

.MyProjectCard-success {
  background-color: lightgreen;
}

.MyProjectCard-table {
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  margin: 20px 80px;
  padding: 16px;
  width: 1120px;
}

.MyProjectCard-button {
  margin: 5px;
}
