.MyProjectCard-root {
  color: inherit;
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  margin: 20px auto;
  padding: 16px;
}

.MyProjectCard-groupButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.MyProjectCard-header {
  color: $color-text-dark;
  font-style: italic;
}

.MyProjectCard-projectName {
  font-weight: bold;
}

.MyProjectCard-button {
  margin: 5px;
}

.MyProjectCard-table td {
  display: inline-block;
  width: 100%;
 }

 @include media-breakpoint-up(sm) {
  .MyProjectCard-table td {
    display: table-cell;
    width: 250px;
  }
}
@media only screen and (max-width: 1440px) {
  .MyProjectCard-groupButtons{
    justify-content: flex-start;
  }
}