.PartnerWithUsController-topSection {
  background-color: $color-background-default;
  padding: 25px 0;
}

.PartnerWithUsController-sponsorTypes {
  background-color: $color-background-light;
  padding: 25px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.PartnerWithUsController-sponsorTypeSection img {
  max-width: 100%;
  padding-bottom: 16px;
}

.PartnerWithUsController-sponsorAmount {
  color: $color-orange-dark;
}

.PartnerWithUsController-partners {
  background-color: $color-background-default;
  padding-top: 50px;
}
.PartnerWithUsController-partners h3 {
  margin-top: 25px;
}

.PartnerWithUsController-sponsorList {
  display: flex;
  flex-wrap: wrap;
}

.PartnerWithUsController-sponsor {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.PartnerWithUsController-sponsor h6 {
  font-weight: bold;
  margin-top: 1.25rem;
}

.PartnerWithUsController-sponsor-logo {
  flex-basis: 300px; /* set "ideal size" of logo width */
  min-width: 300px; /* now all of these are forced up to 300, lining up content nicely */
  text-align: center;
  margin: 0 auto; /* centers sponsor image inside assigned width if required */
}

@include media-breakpoint-up(md) {
  .PartnerWithUsController-sponsor {
    flex-wrap: nowrap;
  }
  .PartnerWithUsController-sponsor-text {
    padding-left: 20px;
  }
  .PartnerWithUsController-sponsor h6 {
    margin-top: 0;
  }
}
