.PartnerWithUsController-topSection {
  background-color: $color-background-default;
  padding: 25px 0;
}

.PartnerWithUsController-sponsorTypes {
  background-color: $color-background-light;
  padding: 25px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}


.PartnerWithUsController-sponsorTypeSection img {
  max-width: 100%;
  padding-bottom: 16px;
}

.PartnerWithUsController-sponsorAmount {
  color: $color-orange-dark;
}

.PartnerWithUsController-partners {
  background-color: $color-background-default;
  padding: 50px 30px 50px 30px;
}
.PartnerWithUsController-partners h3 {
  margin-top: 25px;
}

.PartnerWithUsController-sponsorList {
  display: flex;
  flex-wrap: wrap;
}

.PartnerWithUsController-sponsor {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.PartnerWithUsController-sponsor h6 {
  font-weight: bold;
}

.PartnerWithUsController-sponsor-logo {
  min-width: 200px;
  text-align: center;
}

@include media-breakpoint-up(md) {
  .PartnerWithUsController-sponsor {
    flex-wrap: nowrap;
  }
  .PartnerWithUsController-sponsor-text {
    padding-left: 20px;
  }
}
