.PersonIcon {
  margin: 0px 0px 0px 5px;
}

.person-icon-container {
  height: 60px;
  width: 60px;
  margin: 0px 10px 0px 0px;
  float: left;
  cursor: pointer;
  svg {
    border-radius: 50%;
    color: $color-text-light;
    background: $color-text-grey;
    opacity: 0.5;
    height: 50px;
    width: 50px;
    padding-top: 5px;
  }
}
