.PositionList-entry {
  background-color: $color-background-light;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  padding: 5px;
  margin: 15px;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

i.dim {
  color:$color-grey-disabled;
}

i.grip {
  color:$color-grey-disabled;
  padding-right: 5px;
}

.right-side {
  display: flex;
  justify-content: space-between;
  width: 80px;
}