.press-title, .press-stats {
  background-size: cover;
  color: $color-text-light;
  display: flex;
  align-items: center;
}
/* for a full-width background element, this brings the content in-line with .container */
.press-bounded-content {
  margin: 0 auto;
  padding: 0 15px;
}
.press-root h1, .press-in-news h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

.press-in-news p {
  margin-bottom: 0.5rem;
}

.press-in-news a {
  font-size: 20px;
  color: $color-orange;
  &:hover {
    color: $color-orange-darker;
  }
}
.press-presslink {
  padding: 2rem 0;
  border-bottom: 1px solid $color-grey-frame-border
}
.press-presslink:first-of-type {
  border-top: 1px solid $color-grey-frame-border;
}
.press-presslink p {
  color: $color-text-grey;
}

.press-stats-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}
.press-stats-item {
  flex: 0 0 40%;
  text-align: center;
  margin: 2rem 0;
}
.press-stats-data {
  font-size: 28px;
  margin: 0;
  line-height: 1.2;
  font-weight: bold;
}
.press-stats-label {
  margin: 0;
}
.press-title {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.press-in-news {
  padding-top: 2rem;
}

@include media-breakpoint-up(sm) {
  .press-bounded-content {
    width: 540px;
  }
}

@include media-breakpoint-up(md) {
  .press-bounded-content {
    width: 720px;
  }
  .press-stats-item {
    flex: 0 0 30%;
  }
  .press-title {
    min-height: 480px;
  }
}

@include media-breakpoint-up(lg) {
  .press-bounded-content {
    width: 960px;
  }
  .press-root h1, .press-in-news h2, .press-stats-data {
    font-size: 48px;
  }
  .press-title {
    min-height: 568px;
  }
  .press-in-news a {
    font-size: 24px;
  }
}
@include media-breakpoint-up(xl) {
  .press-bounded-content {
    width: 1140px;
  }
  .press-title {
    min-height: 640px;
  }
}

@include media-breakpoint-up(xxl) {
  .press-bounded-content {
    width: 1400px;
  }
  .press-title {
    min-height: 853px; /* actual height of background image */
  }
}
