.Privacy-root {
  h1 {
    padding: 1rem 0;
  }
  ol > li {
    padding: 1rem; // section separators
  }
  li > ul {
    margin-top: 0.5rem; // vertical spacing at the start of nested lists
  }
  ul {
    list-style-type: disc; // nested list defaults to circle, so override
  }
  ul > li {
    padding: 0.125rem 0; // spacing within each section's list
  }
}
// for narrow device width and chrome browser there's some potential overflow issues:
@include media-breakpoint-only(xs) {
  ol,
  ul {
    padding-inline-start: 20px; // nested lists with nested 40px default on narrow devices is a real squeeze
  }
  li a {
    overflow-wrap: break-word; // just in case the contact link doesn't wrap, which seems to be chrome-only
  }
}
