/* Project_Sign-up Elements  */

.subheader{
  font-size: 20px
}

.create-project {
  height: 76px;

}

.create-project h1 {
  font-size: 12px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
}

.wrapper-gray {
  background-color: $color-background-default;
  margin-top: 15px;
}

.upload_img {
  width: 41px;
  height: 41px;
  object-fit: contain;
  background-color: $color-grey-medium;
}

.upload_img_bdr {
  width: 80px;
  height: 81px;
  border-radius: 5px;
  border: solid 1px $color-grey-frame-border;
}

.upload_btn {
  width: 174px;
  height: 35px;
  background: none;
  border: solid 1px $color-green-dark;
  border-radius: 5px;
  text-align: center;
  color: $color-green-dark;
}

.upload_btn_sm {
  width: 81px;
  height: 27px;
  background: none;
  border: solid 1px $color-green-dark;
  border-radius: 5px;
  text-align: center;
  color: $color-green-dark;
}
.save_btn {
  width: 130px;
  height: 35px;
  border-radius: 5px;
  background-color: $color-green;
  border: 0px;
  color: $color-text-light;
}

input[type="submit"]:disabled {
  background: $color-grey-disabled;
}

div.modal {
  opacity: 1
}
