.ProjectTag-root {
  background-color: $color-orange;
  border-radius: 30px; /*can't use 50% because item isn't a square, so just use any number > 50% element height */
  color: $color-text-light;
  display: inline-block;
  margin-bottom: 10px; /*provides spacing in case active tags wrap onto two rows */
  margin-right: 10px;
  padding: 6px 5px 5px 10px; /* might be an optical illusion but 6 top centers text in the element better than 5 */
  font-size: 14px;
}

.ProjectTag-closeButton {
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 8px; /* take original size of glyph and pad so total height/width of element are the same for border-radius calc to work */
  background-color: $color-orange-darker;
  border-radius: 50%;
}
