.ProjectTagContainer-root {
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  border-top: none;
  clear: both;
  min-height: 95px;
  overflow: hidden;
  padding: 25px 50px 15px 25px;
}

//todo: Verify this can be deleted
