.ProjectSearchBar-root {
  border: solid 1px $color-grey-frame-border;
  border-radius: 5px;
  height: 40px; 
  box-sizing: border-box;
  width: 100%;
  display: flex;
}
.ProjectSearchBar-input {
  border: 0;
  outline-width: 0;
  height: 100%;
  flex-grow: 1;
  background: inherit;
}

.ProjectSearchBar-submit {
  min-width: 48px;
}
@include media-breakpoint-up(lg) {
  .ProjectSearchBar-submit {
    min-width: 64px;
  }
}