.ProjectCard-root {
  background-color: $color-background-light;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
  color: $color-text-dark;
  margin: 0.5rem 0;
  height: calc(100% - 1rem) /* for desktop cards to match height in a 2 wide row */
}
.ProjectCard-root h2 {
  font-size: 1.333rem;
  margin: 0.5rem 0.5rem 0.5rem 0; /* left margin is built into card design */
}
.ProjectCard-root h3 {
  font-size: 1.0rem;
  font-weight: bold;
}
.ProjectCard-root h4 {
  font-size: 0.875rem;
  color: $color-text-grey;
}
.ProjectCard-root a {
  text-decoration: none;
  color: $color-text-dark;
  display: grid;
  grid-template-columns: 30% 2% 34% 34%;
  grid-template-rows: auto;
  height: 100%;
}
.ProjectCard-description {
  grid-column: 1 / 5;
  grid-row: 3;
  padding-top: 0.5rem; /* only on mobile */
  padding-left: 0.5rem; /* only on mobile */
  padding-right: 0.5rem; /* always */
  border-top: solid lightgray 1.5px;
}
.ProjectCard-subinfo {
  grid-column: 3 / 5;
  grid-row: 2;
}
.ProjectCard-subinfo ul {
  color: $color-text-grey;
  list-style-type: none;
  font-size: 0.875rem;
  word-break: break-all; //break long items to stay in container
  padding: 0;
}
.ProjectCard-subinfo li {
  margin-top: 0.25rem;
  display: block;
}
.ProjectCard-subinfo li:first-of-type {
  margin-top: 0;
  padding-top: 0.25rem;
}
.ProjectCard-subinfo li svg {
  margin-right: 0.375rem;
}
.ProjectCard-title {
  overflow-wrap: break-word; // prevent long project titles from breaking flow
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}
.ProjectCard-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-right: solid lightgray 1.5px;
  display: grid;
}
.ProjectCard-url-text {
    overflow: hidden;
    text-Overflow: ellipsis;
    white-Space: nowrap;
    margin: auto;
}
.ProjectCard-logo img {
  max-width: 97%;
  max-height: 95%;
  display: block;
  margin: auto;
}
.ProjectCard-skills {
  grid-column: 1 / 5;
  grid-row: 4;
  padding: 0 0 0 8px;
}
.ProjectCard-skills ul {
  padding: 0;
}
.ProjectCard-skills ul li {
  display: inline-block;
  list-style-type: none;
  background: $color-grey-medium;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
}
