.ProjectProfileSearch-root {
  button.reset-search-button {
    max-width: 120px;
  }
  .ProjectTagContainer-root {
    border: 0;
    padding: 0;
    margin: 8px;
  }
  .preview-panel {
    border: 1px solid $color-text-dark;
    border-radius: 8px;
  }
  .preview-panel-toggle {
    padding: 8px 16px;
  }
}

h3.ProjectProfileSearch-sectiontitle {
  font-size: 18px;
  margin-top: auto;
}

.ProjectProfileSearch-sort h4 {
  font-size: 1rem;
  margin: auto 8px auto 0;
  flex-shrink: 0; // ensures title will not wrap onto two lines
}
