/* Project_Sign-up Elements  */
.subheader {
  font-size: 20px;
}

.create-project {
  height: 76px;
}

.create-project h1 {
  font-size: 12px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
}

.wrapper-gray {
  background-color: $color-background-default;
  margin-top: 15px;
}

.upload_img {
  width: 41px;
  height: 41px;
  object-fit: contain;
  background-color: $color-grey-medium;
}

.upload_img_bdr {
  width: 80px;
  height: 81px;
  border-radius: 5px;
  border: solid 1px $color-grey-frame-border;
}

.create-btn {
  min-width: 130px;
}
