
.ProjectSearchBar-root {
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  height: 40px;
  width: 100%;
  display: flex;
}

.ProjectSearchBar-root > i {
  margin-left: 10px;
  margin-top: 6px;
  flex-grow: 0;
}

.ProjectSearchBar-input {
  border: 0;
  font-size: 14px;
  outline-width: 0;
  margin-left: 10px;
  height: 100%;
  flex-grow: 1;
}
