//TODO: refactor CSS to be less absurd, more reusable
.ProjectFilterContainer-offcanvas.modal .modal-dialog {
  width: 350px;
  max-width: 80%;
  height: 100%;
  margin: 0;
  transform: translate(0);
  transition: transform 0.2s;
}

.ProjectFilterContainer-offcanvas.modal .modal-dialog .modal-content {
  height: inherit;
  border: 0;
  border-radius: 0;
}
.ProjectFilterContainer-offcanvas.modal
  .modal-dialog
  .modal-content
  .modal-body {
  overflow-y: auto;
}
.ProjectFilterContainer-offcanvas.modal.fixed-left .modal-dialog {
  margin-right: auto;
  transform: translateX(-100%);
}

.ProjectFilterContainer-offcanvas.modal.show .modal-dialog {
  transform: translateX(0);
}

.ProjectFilterContainer-nav,
.ProjectFilterContainer-offcanvas {
  label {
    margin-bottom: 0;
    width: 100%;
    display: inline-flex;
  }
  .dropdown-item {
    width: 100%;
    min-height: 48px; // clicktarget size, min value to allow long titles to expand
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
    input[type="checkbox"] {
      height: 16px;
      width: 16px;
    }
    span {
      padding: 0 8px;
    }
    span:last-of-type {
      padding-right: 0;
      margin: auto 0 auto auto; // aligns number or checked icon
    }
  }
}

@include media-breakpoint-up(lg) {
  .ProjectFilterContainer-nav .dropdown-item {
    min-width: 20rem; // TODO: fine tune this value
  };
}
// .RenderFilterCategory-activecount will be the orange bg circle with number indicating active filters in that category
// .RenderFilterCategory-arrow is for the downward facing chevron indicating dropdown; may not need the class

//for mobile (at least) .dropdown-item { white-space: nowrap; } will have to be overridden and allow wrap -- see Organization Type. Bounding menu width issues though.
