.ProjectCard-root {
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  margin: 10px -5px;
}
.ProjectCard-root a {
  text-decoration: none;
  color: $color-text-dark;
}
.ProjectCard-info {

}
.ProjectCard-description {

}

.ProjectCard-name {

}

.ProjectCard-image {

}
.ProjectCard-skills {

}
.ProjectCard-issueArea {

}
