.ProjectFilterContainer-root {
  background-color: $color-background-light;
  min-height: 100%;
  vertical-align: top;
}

.ProjectFilterContainer-root .form-control {
  padding: 0;
}

.ProjectFilterContainer-label {
  color: $color-text-dark;
  font-size: 16px;
  margin-right: 50px;
  margin-top: 12px;
  width: 100%;
}

.ProjectFilterContainer-subcategory-header, .ProjectFilterContainer-category-header {
  font-size: 16px;
  font-weight: bold;
}
.ProjectFilterContainer-subcategory-header {
  display: flex;
  justify-content: space-between;
}
.ProjectFilterContainer-root > div {
  display: block;
}

.ProjectFilterContainer-filter-list {
  list-style-type: none;
  padding-inline-start: 0;
}


.ProjectFilterContainer-filter-list li {
  border: 1px solid $color-text-grey;
  color: $color-text-grey;
  border-radius: 5px;
  margin-bottom: 12px;
}
.ProjectFilterContainer-filter-list label {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
}

.ProjectFilterContainer-filter-list input[type=checkbox]:checked + label {
  background: $color-orange;
  color: $color-text-light;
}

.ProjectFilterContainer-filter-list input[type=checkbox] {
  display: none;
}
// .ProjectFilterContainer-reset {
//   min-height: 41px;
// }

/* border color needs to change based on expanded or collapsed state */
.ProjectFilterContainer-subcategory {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* This will be updated to display the 'peek' at the first few filters in another PR */
.ProjectFilterContainer-collapsed > ul {
  display: none;
}

/*if subcategory is expanded */
.ProjectFilterContainer-subcategory.ProjectFilterContainer-expanded {
  border: 1px solid $color-orange;
}

/* if subcategory is collapsed */
.ProjectFilterContainer-subcategory.ProjectFilterContainer-collapsed {
  border: 1px solid $color-text-grey;
}
