.ProjectCard-root {
  background-color: $color-background-light;
  border: solid 1px $color-grey-frame-border;
  margin: 10px -5px;
}
.ProjectCard-root a {
  text-decoration: none;
  color: $color-text-dark;
}
.ProjectCard-info {
  width: 67%;
  display: inline-block;
  vertical-align: top;
}
.ProjectCard-subinfo {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
.ProjectCard-description {

}

.ProjectCard-name {

}

.ProjectCard-image {
 background-color: $color-background-default;
}
.ProjectCard-image img {
  width: 100%;
  height: 100%;
}
.ProjectCard-skills {

}
.ProjectCard-issueArea {

}
/*
card ratio approximately 1.62:1
image is ~50% height of left column
left column is ~33% width of card container
*/
