// common elements for project/group/etc profile pages

.Profile-root {
  background: $color-background-light;
}

.Profile-top-section-content {
  border: 1px solid $color-grey-frame-border;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.Profile-tab {
    padding: 1rem;
}

//TODO: make sure lg is the right breakpoint for switching layouts
@include media-breakpoint-up(lg) {
  .Profile-top-section-content {
    margin: 1rem;
    padding: 1rem;
    flex-wrap: nowrap;
  }
  .Profile-primary-section {
      width: 100%; // don't shrink section if content is narrow in one tab vs another
  }
  // min-width here ensures it stays on one row with main section content when we want that
  .Profile-secondary-section {
    min-width: 260px;
  }
}
