.SectionLink-root {
  color: $color-text-light;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  padding-bottom: 0px;
}

.SectionLink-root h3 {
  font-size: 1.2rem;
}

.SectionLink-active h3 {
  border-bottom: $color-orange 3px solid;
  color: $color-orange;
}

@include media-breakpoint-up(md) {
  .SectionLink-root {
    margin: 13px 4%;
    padding-bottom: 8px;
  }
}

@include media-breakpoint-between(sm,md) {
  .SectionLink-root {
    margin: 10px 18px 0px 18px;    
  }
}