.SectionLink-root {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 5px 8px 0px 8px;
  padding-bottom: 0px;
  align-self: flex-end;

  &:hover {
    h3,
    h3 > a {
      color: $color-orange;
    }
  }
}

.SectionLink-root h3 {
  border-bottom: 3px solid transparent;
  color: $color-text-grey;
  padding-bottom: 14px;
  margin: 0px 5px;
  transition: 300ms;
}

.SectionLink-active h3 {
  border-bottom: $color-orange 3px solid;
  color: $color-orange;
  padding-bottom: 14px;
  margin: 0px 5px;
  box-sizing: border-box;
}

@include media-breakpoint-up(md) {
  // .SectionLink-root {
  //   margin: 13px 4%;
  // padding-bottom: 8px;
  // }
}

@include media-breakpoint-between(sm, md) {
  // .SectionLink-root {
  //   margin: 10px 8px 0px 8px;
  // }
}
