.SignedUpController-root {
  min-height: 400px;
}
.SignedUpController-logo {
  margin: 32px 0;
}
.SignedUpController-greeting {
  margin: 0 0 32px 0;
}

.SignedUpController-logo img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
