.SiteFooter-root {
  background: $color-background-light;
  padding-top: 40px;
}
.SiteFooter-logo {
  width: 100%;
  flex-basis: 100%;
}

.SiteFooter-nav-links {
  display: flex;
  flex-direction: column;
  a {
    flex-basis: 100%;
  }
}
.SiteFooter-mid-container {
  display: flex;
  flex-direction: column;
}
@include media-breakpoint-up(lg) {
  .SiteFooter-nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a {
      flex-basis: 33%;
    }
  }
  .SiteFooter-mid-container {
    flex-direction: column-reverse;
  }
}
