.SocialFooter-root {
  background: #555; /* placeholder */
  color: $color-text-light;
  padding: 20px 0 10px 0;
  text-align: center;
}
.SocialFooter-iconblock a {
  text-decoration: none;
  padding-right: 1.5rem;
}
.SocialFooter-iconblock a:last-of-type {
  padding-right: 0;
}
.SocialFooter-btn-about, .SocialFooter-btn-donate {
  background: $color-background-light;
}
.SocialFooter-btn-about {
  color: $color-orange;
  border: $color-orange;
  &:hover {
    color: $color-text-light;
    background: $color-orange;
    border: $color-orange-darker;
  }
}
.SocialFooter-btn-donate {
  color: $color-text-grey;
  border: $color-text-grey;
  &:hover {
    color: $color-text-light;
    background: $color-text-grey;
    border: $color-text-dark;
  }
}
.SocialFooter-copyright {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.SocialFooter-nav a, .SocialFooter-iconblock a {
  color: $color-text-light;
  &:hover {
    color: $color-text-grey;
  }
}
.SocialFooter-box {
  margin-bottom: 1.5rem;
}
@include media-breakpoint-up(sm) {
  .SocialFooter-btn-about {
    margin-right: 1rem;
  }
}
@include media-breakpoint-up(lg) {
  .SocialFooter-root {
    text-align: left;
  }
  .SocialFooter-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
