.SplashScreen-root {
  background-color: $color-opacity-layer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $color-text-light;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SplashScreen-fill {
  min-height: calc(
    100vh - 100px
  ); /* use min-height to fix wide but short viewports */
}

.SplashScreen-content {
  text-align: center;
  padding: 0 10px;
  margin: auto 0 0 0;
}

.SplashScreen-section {
  padding: 15px 0;
}

// both of these SplashScreen buttons must also have Bootstrap "btn btn-primary" classes applied
.SplashScreen-find-projects-btn {
  border: 1px solid $color-orange;
  color: $color-text-dark;
  background-color: $color-orange;
  min-width: 80px;
}

.SplashScreen-create-project-btn {
  border: 1px solid $color-text-light;
  color: $color-text-light;
  background-color: transparent;
  cursor: pointer;
  min-width: 80px;
}

.SplashScreen-find-projects-btn, .SplashScreen-create-project-btn {
  margin: 0px 8px 10px 8px;
}

.SplashScreen-mission {
  color: $color-text-light;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  margin: auto 0 0 0;
}
.SplashScreen-mission p {
  margin: 0 auto;
}
.SplashScreen-opacity-layer {
  background-blend-mode: multiply;
}
.SplashScreen-opacity50 {
  background-color: rgba($color-opacity-layer, 0.5);
}
.SplashScreen-opacity20 {
  background-color: rgba($color-opacity-layer, 0.2);
}
@include media-breakpoint-up(md) {
  .SplashScreen-mission p {
    max-width: 700px;
  }
}
