.SplashScreen-root {
  background-color: $color-text-grey;
  color: $color-text-light;
  width: 100%;
  height: 1080px;
}

.SplashScreen-content {
  text-align: center;
  top: 50%;
}

.SplashScreen-find-projects-btn {
  border: 1px solid $color-text-light;
  color: $color-text-light;
  background-color: transparent;
  border-radius: 5px;
  padding: 6px 12px;
  margin: 0px 0px 0px 15px;
  transition: 300ms;
  cursor: pointer;
  min-width: 80px;
  &:hover {
    background-color: $color-orange;
    color: $color-text-light;
    border-color: $color-text-light;
  }
}