$break-small: 498px;
$break-medium: 860px;
$break-large: 1200px;
$break-medLarge: 600px;



.SubHeader-createProject {
  @media screen and (max-width: $break-medium) {
    float: none;
  } 
  background-color: $color-orange;
  border: none;
  border-radius: 5px;
  color: $color-text-light;
  display: inline-table;
  font-size: 15px;
  margin-top: 6px;
  margin-bottom: 5px;
  padding: 8px 8px;
  text-decoration: inherit;
  width: auto;
  cursor: pointer;
  float: right;
}

.SubHeader-root {
  @media screen and (max-width: $break-medium) {
    height: 100px;
  } 
  @media screen and (max-width: $break-medLarge) {
    height: 150px;
  } 
  background-color: $color-background-dark;
  height: 50px;
  padding: 0 5% 0 5%;
  margin-bottom: 5%;
}

.SubHeader-sectionButton {
  @media screen and (max-width: $break-medium) {
    height: inline-block; 
    margin: auto;
  } 
  color: $color-text-light;
  display: inline-block;
  font-weight: bold;
  margin-top: 18px;
  padding-right: 40px;
}

.SubHeader-rightContent {
  @media screen and (max-width: $break-medium) {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 50%;
  } 
  @media screen and (max-width: $break-medLarge) {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:100%;
  } 
  width: 30%;
  float: right;
}

.SubHeader-leftContent {
  @media screen and (max-width: $break-medium) {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: 50%;
  } 
  @media screen and (max-width: $break-medLarge) {
    display: flex; 
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    height:100%;
  } 
  width: 70%;
  float: left;
}
