.SubHeader-logo-container {
  float: left;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.SubHeader-logo {
  cursor: pointer;
  width: 140px;
}

.SubHeader-root {
  display: flex;
  flex-direction: row;

  background-color: $color-background-light;
  height: $header-height;
  width: 100%;
  //padding: 0 5% 0 5%;

  //background-color: $color-background-default;
  padding: 5px 5% 5px 5%;

  margin-bottom: 5px;
}

.SubHeader-rightContent {
  display: none;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  width: 85%;
  a {
    text-decoration: none;
    color: $color-text-grey;
  }
}

.SubHeader-log-btns {
  align-self: center;
  background-color: transparent;
  border: 1px solid $color-text-grey;
  border-radius: 5px;
  color: $color-text-grey;
  cursor: pointer;
  margin: 0px 6px;
  min-width: 80px;
  padding: 6px 12px;
  transition: 300ms;
  &:hover {
    background-color: $color-orange;
    color: $color-text-light;
    border-color: $color-text-light;
  }
}

.SubHeader-donate-btn-container {
    align-self: center;
}

.SubHeader-donate-btn {
  border: 1px solid $color-orange;
  color: $color-orange;
  background-color: transparent;
  border-radius: 5px;
  padding: 6px 12px;
  margin: 0px 0px 0px 5px;
  transition: 300ms;
  cursor: pointer;
  min-width: 80px;
  &:hover {
    background-color: $color-orange;
    color: $color-text-light;
    border-color: $color-text-light;
  }
}

.SubHeader-userImg-container {
  align-self: center;
  display: flex;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 5px 0px 35px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: $color-text-light;
    background: $color-text-grey;
    opacity: .5;
    transition: 300ms;
  }
}

.SubHeader-user-btn {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  opacity: 1;
  transition: 300ms;
  &:hover {
    opacity: 0.75;
  }
  &:focus {
    outline: none;
  }
}

.SubHeader-userImg {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  transition: 300ms;
}

.SubHeader-dropdown-menu {
  width: 200px;
  margin-left: -145px;
  margin-top: 10px;
  &:before {
    content: '';
    position: relative;
    top: -27px;
    left: 164px;
    border-color: $color-background-light transparent;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    height: 0px;
    width: 0px;
  }
  a {
    text-decoration: none;
  }
}

.SubHeader-dropdown-name {
  padding-left: 16px;
  padding-right: 15px;
  color: $color-text-grey;
  font-size: 16px;
  font-weight: bold;
}

.SubHeader-hamburger {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
}

.SubHeader-navDrawer {
  margin-top: 25px;
  width: 43.72vw;
  min-width: 200px;

  a {
    color: $color-text-grey;
    transition: 300ms;
    &:hover {
      text-decoration: none;
      color: $color-orange;
    }
  }
}

.SubHeader-slider-name {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.SubHeader-slider-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: $color-text-light;
    background: $color-text-grey;
  }
  img {
    width: 75px;
    height: 75px;
  }
}

.SubHeader-drawerDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
}

@media (min-width: 910px) {
  .SubHeader-hamburger {
    display: none;
  }
  .SubHeader-rightContent {
    display: flex;
  }
}
