.ThankYou-root {
    display: flex;
}

.ThankYou-leftImage {
    order: 1;
    width: 50%;
}

.ThankYou-leftImage img {
    width: 100%;
}

.ThankYou-rightColumn {
    order: 2;
}

@media (min-width: 900px) {
  .ThankYou-rightColumn {
    width: 50%;
    padding: 50px;
  }
}

@media (max-width: 900px) {
  .ThankYou-root {
    flex-direction: column;
  }

  .ThankYou-leftImage {
    width: 100%;
  }

  .ThankYou-rightColumn {
    width: 100%;
    padding: 20px;
  }

  //.ThankYou-message {
  //  padding-bottom: 13%;
  //}
}
