.AggregatedDashboard-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; // make titles two rows maximum
    -webkit-box-orient: vertical;
    font-size: 23px;
    font-weight: medium;
    overflow: hidden;
    align-self: start; // stops character descenders from getting clipped, weird but works
}

.volunteer-experience-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // justify-content: center;
    align-items: center;
    margin-top: 88px;
    margin-bottom: 56px;
    // margin-left: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.volunteer-experience-summary .card-number {
    text-align: center;
    align-items: center;
    height: auto;
}

.volunteer-experience-summary .card-number span {
    color: #F79E02;
    font-size: 80px;
    font-family: Montserrat;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.volunteer-experience-summary .card-number h4 {
    color: #191919;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 0 0;
    padding: 0;
}

.volunteer-experience-summary .card-text {
    margin-left: 128px;
    align-items: center;
}

.volunteer-experience-summary .card-text span {
    color: #191919;
    font-size: 16px;
    font-weight: normal;
    font-family: Montserrat;
    text-align: left;
    margin: 0;
    padding: 0;
}

.volunteer-renewal-chart {
    overflow-x: auto;
}

.volunteer-renewal-chart-desc p {
    color: #191919;
    font-family: Montserrat;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    margin: 0px;
    white-space: normal;
}

@include media-breakpoint-up(xs) {
    .volunteer-renewal-chart {
        display: flex;
        justify-content: space-around;
        .volunteer-renewal-line {
            width: 275px !important;
            height: 350px !important;
        }
    }
    .volunteer-renewal-chart-desc {
        margin-top: 20px;
        margin-bottom: 64px;
        p {
            text-align: left;
        }
    }
    .volunteer-experience-summary {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5px;
        margin-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
        .card-number span {
            font-size: 50px;
        }
        .card-text {
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
        }
        .card-text span {
            font-size: 15px;
        }
    }
}

@include media-breakpoint-up(sm) {
    .volunteer-renewal-chart {
        display: flex;
        justify-content: space-around;
        .volunteer-renewal-line {
            width: 275px !important;
            height: 350px !important;
        }
    }

    .volunteer-renewal-chart-desc {
        margin-top: 20px;
        margin-bottom: 64px;
        p {
            text-align: left;
            padding: 0 20px;
        }
    }

    .volunteer-experience-summary {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5px;
        margin-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
        .card-number span {
            font-size: 50px;
        }
        .card-text {
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
        }
        .card-text span {
            font-size: 15px;
        }
    }
}

@include media-breakpoint-up(md) {
    .volunteer-renewal-chart {
        display: flex;
        justify-content: space-around;
        .volunteer-renewal-line {
            width: 550px !important;
            height: 450px !important;
        }
    }
    .volunteer-renewal-chart-desc {
        margin-top: 20px;
        margin-bottom: 100px;
        p {
            text-align: center;
            padding: 0 20px;
        }
    }
    .volunteer-experience-summary {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
        .card-number span {
            font-size: 50px;
        }
        .card-text {
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
        }
        .card-text span {
            font-size: 15px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .volunteer-renewal-chart {
        display: flex;
        justify-content: space-around;
        .volunteer-renewal-line {
            width: 895px !important;
            height: 500px !important;
        }
    }
    .volunteer-renewal-chart-desc {
        margin-top: 20px;
        margin-bottom: 200px;
        p {
            text-align: center;
            padding: 0 20px;
        }
    }
    .volunteer-experience-summary {
        flex-wrap: nowrap;
        margin-top: 88px;
        margin-bottom: 56px;
        padding-left: 20px;
        padding-right: 20px;
        .card-number span {
            font-size: 80px;
        }
        .card-text {
            margin-left: 128px;
        }
        .card-text span {
            font-size: 16px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .volunteer-renewal-chart {
        display: flex;
        justify-content: space-around;
        .volunteer-renewal-line {
            width: 895px !important;
            height: 500px !important;
        }
    }
    .volunteer-renewal-chart-desc {
        margin-top: 20px;
        margin-bottom: 200px;
        p {
            text-align: center;
            padding: 0 20px;
        }
    }
    .volunteer-experience-summary {
        flex-wrap: nowrap;
        margin-top: 88px;
        margin-bottom: 56px;
        padding-left: 20px;
        padding-right: 20px;
        .card-number span {
            font-size: 80px;
        }
        .card-text {
            margin-left: 128px;
        }
        .card-text span {
            font-size: 16px;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .volunteer-renewal-chart {
        display: flex;
        justify-content: space-around;
        .volunteer-renewal-line {
            width: 895px !important;
            height: 500px !important;
        }
    }
    .volunteer-renewal-chart-desc {
        margin-top: 20px;
        margin-bottom: 200px;
        p {
            text-align: center;
            padding: 0 20px;
        }
    }
    .volunteer-experience-summary {
        flex-wrap: nowrap;
        margin-top: 88px;
        margin-bottom: 56px;
        padding-left: 20px;
        padding-right: 20px;
        .card-number span {
            font-size: 80px;
        }
        .card-text {
            margin-left: 128px;
        }
        .card-text span {
            font-size: 16px;
        }
    }
}
