.VolunteerCard-root {
  color: inherit;
  clear: both;
  height: 101px;
  padding-bottom: 20px;
}

.VolunteerCard-img {
  float: left;
  margin-right: 10px;
  object-fit: contain;
  background-color: $color-grey-medium;
  width: 80px;
  height: 81px;
  border: none;
}

.VolunteerCard-volunteerName {
  font-weight: bold;
  padding-top: 10px;
}

.VolunteerCard-volunteerRole {
  font-weight: normal;
}

div.VolunteerCard-dropdownButton {
  display: inline;
  float: right;
}
.VolunteerCard-dropdownButton .btn-link {
  color: $color-text-grey;
}
.VolunteerCard-root a.dropdown-item {
  /* overrides orange link text for the project owner's manage team member dropdown menu */
  color: inherit;
}
/* rotate thumbtack 45 degrees */
.VolunteerCard-dropdownButton .fa-thumbtack {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
