.VolunteerCard-root {
  color: inherit;
  clear: both;
  height: 101px;
  padding-bottom: 20px;
}

.VolunteerCard-img {
  float: left;
  border: none;
  border-radius: 0px;
  margin-right: 10px;
}

.VolunteerCard-volunteerName {
  font-weight: bold;
  padding-top: 10px;
}

.VolunteerCard-volunteerRole  {
  font-weight: normal;
}

div.VolunteerCard-dropdownButton {
  display: inline;
  font-size: 24px;
  float: right;
}
.VolunteerCard-dropdownButton li > a {
  font-size: 16px;
  line-height: 1.75;
}
/* rotate thumbtack 45 degrees */
.VolunteerCard-dropdownButton .fa-thumbtack {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
