.AggregatedDashboard-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; // make titles two rows maximum
    -webkit-box-orient: vertical;
    font-size: 23px;
    font-weight: medium;
    overflow: hidden;
    align-self: start; // stops character descenders from getting clipped, weird but works
}
