//pattern for variable names: generic-to-specific.
//when possible name variables after function

//colors
$color-orange: #f79e02; // brand
$color-green: #86c232; //confirm-role buttons
$color-green-dark: #61892f; //tag selectors and selected tags
$color-text-light: #ffffff;
$color-text-dark: #222629;
$color-text-grey: #535A5F; //lightest we can go without brekaing accessibility
$color-grey-medium: #dddddd;
$color-grey-disabled: #cecece; // any item in a disabled state
$color-grey-frame-border: #6b6e70; // from design guide

//background colors
$color-background-default: #f6f7f8; //site body
$color-background-light: #ffffff; //individual components
$color-background-dark: #222629; //nav bar, footer
$color-background-info: #add8e6; // info messages
$color-background-error: #ffcfcf; //error messages
