// DemocracyLab Colors
// SASS Variables for styling our brand and colors
// do not declare these manually in CSS, always use the variable

//## colors (NOT design system implementation yet; all these may require review)
$color-orange: #f79e02; // brand
$color-orange-dark: #de8e01; // accent/button borders
$color-orange-light: #f7cf88; // footer button hover
$color-orange-text: #f06d23; // companies page, will need a rename
$color-green: #86c232; //confirm-role buttons
$color-green-dark: #61892f; //tag selectors and selected tags
$color-red: #eb5757; //reject button
$color-favorite: #f32302; // Favorite heart color
$color-text-light: #ffffff;
$color-text-dark: #1f1f1f;
$color-text-grey: #535a5f; //lightest we can go without brekaing accessibility
$color-grey-medium: #dddddd;
$color-grey-disabled: #cecece; // any item in a disabled state
$color-disabled-border: #a8a8a8; // for e.g. a disabled state button border
$color-grey-frame-border: #6b6e70; // from design guide
$color-grey-unselected: #585858; // unselected item color
$color-cta: #b1d3fb; // deprecated -- TODO: remove when companies page is updated, remove bootstrapoverride variant cta also

// ## link colors (design system "Secondary Colors - Blue Color Scheme - used for text links across dlab, implemented October 6, 2021)
// note that these are also in _bootstrapoverride, overriding $link-color and $link-hover-color 
$color-link: #0362cd; // primary link color, info color
$color-link-hover: #024fa6; // use with underline
$color-link-active: #02438c; // when something in a pressed state, also use underline
$color-link-visited: #662d91; 

// ## background colors
$color-background-default: #f6f7f8; //site body
$color-background-light: #ffffff; //individual components
$color-background-dark: #222629; //nav bar, footer
$color-background-info: #add8e6; // info messages
$color-background-success: #a3ffa6; // success messages
$color-background-error: #ffcfcf; //error messages
$color-opacity-layer: #231f20; //  overlay opacity

// ## Dimensions (outdated? Heights are not accurate. TODO: check if we use these
$header-height: 50px; //Height of site header
$footer-height: 50px; //Height of site footer
