.ContextualDropdown-root {
  background: white;
  margin-top: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: absolute;
}

.ContextualDropdown-contextualArrow {
  background: white;
  border: solid 0.5px #cecece;
  border-bottom: 0;
  border-right: 0;
  height: 10px;
  position: absolute;
  top: -6px;
  transform-origin: center;
  transform: rotate(45deg);
  width: 10px;
}
