.DropDownCategoryItem-root {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 29px;
}

.DropDownCategoryItem-root.unselected:hover {
  color: white;
  background-color: #61892f;
}

.DropDownMenuItem-root {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 29px;
}

.DropDownMenuItem-root.disabled,.DropDownCategoryItem-root.disabled{
  color: grey;
}

.DropDownMenuItem-root:hover {
  color: white;
  background-color: #61892f;
}

.DropDownMenuItem-collapsible {
  width: 100%;
  padding: 0px 10px;
}
