.LandingController-centerer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.LandingController-footer {
  background-color: #222629;
  bottom: 0;
  color: white;
  font-weight: bold;
  padding: 19px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.LandingController-landingText {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 51%;
}

.LandingController-footer-link a {
  color: white;
  text-transform: uppercase;
}

.LandingController-footer-link::after {
  content: " . ";
}
.LandingController-footer-link:last-of-type::after {
  content: "";
}

.LandingController-landingTextContainer {
  margin-top: 71px;
  margin-bottom: 400px;
}

.LandingController-letsGetStarted {
  font-size: 48px;
  margin-top: 0;
}

.LandingController-signUp {
  background-color: #86c232;
  border-radius: 5px;
  display: inline-table;
  font-size: 19px;
  padding: 10px 36px 10px 36px;
  width: auto;
}

.LandingController-signUpContainer {
  width: 100%;
}

.LandingController-supremeCourtBanner {
  background-image: url(https://i.imgur.com/6sECa9O.png);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.LandingController-useYourSkills {
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 0;
}
