.MyProjectCard-root {
  color: inherit;
  text-decoration: inherit;
}

.MyProjectCard-column {
  width: 250px;
}

.MyProjectCard-header {
  color: #717171;
}

.MyProjectCard-projectName {
  font-weight: bold;
}

.MyProjectCard-table {
  background-color: white;
  border: solid 1px #6b6e70;
  margin: 20px 80px;
  padding: 16px;
  width: 1120px;
}
