.ProjectFilterContainer-root {
  background-color: #f7f7f7;
  border-top: 0;
  padding: 10px;
  width: 280px;
  margin-right: 10px;
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
}

.ProjectFilterContainer-label {
  color: #727272;
  font-size: 12px;
  margin-right: 50px;
  margin-top: 2px;
  width: 100%;

}

.ProjectFilterContainer-root > div {
  display: block;
}
