/* Project_Sign-up Elements  */

/* CSS */ 

  /* Attempt 1: create columns manually, with IDs */
  #details {
    padding-left: 151px;
    padding-right: 674px;

  }
  #links {
    padding-left: 698px;
    padding-right: 127px;
  }

  /* Attempt 2: create a new table  */
  table.project-signup {
    table-layout:       fixed;
    margin-left:        10%;
    margin-right:       10%;
    width:              80%;
    border:             1px solid black;
}

/* Corresponding HTML */ 

  /* Attempt 1 */
  <div id="details">
  </div>

  /* Attempt 1.5 - use classes. something like: */
  .col-wrapper{width:1094px; margin:0 auto; overflow:hidden}
  .col{margin:0 10px; float:left; display:inline;}
  .col-670{width:523px;float:left}
  .col-250{width:571px;float:right}

  /* Attempt 2 */
  <table>
    <tr>
        <td>
            DETAILS
        </td>
        <td>
            LINKS
        </td>
    </tr>
  </table>

