.ProjectFilterContainer-root {
  background-color: #f7f7f7;
  border: solid 1px #cecece;
  border-top: 0;
  padding: 10px;
  width: 300px;
  float: left;
}

.ProjectFilterContainer-label {
  color: #727272;
  font-size: 12px;
  margin-right: 50px;
  margin-top: 2px;
  width: 100%;

}

.ProjectFilterContainer-root > div {
  width: 100%;
  display: block;
}
