/* Project_Sign-up Elements  */

.subheader{
  font-size: 20px
}

.LINKS {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}

.DETAILS {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}

.create-project {
  height: 76px;
  
}

.create-project h1 {
  font-size: 16px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
}

.wrapper-gray {
  background-color: #f6f7f8;
}

/*
.Create-a-project-month-Copy {
  width: 1280px;
  height: 1616px;
  background-color: #f6f7f8;
}
*/

.Fill-22-wide {
  width: 1003px;
  height: 85px;
  background-color: #ffffff;
  border: solid 1px #d8d8d8;
}

.Fill-22 {
  width: 455px;
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #d8d8d8;
}

.Field_names {
  width: 150px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}

.upload_img {
  width: 41px;
  height: 41px;
  object-fit: contain;
  background-color: #979797;
}

.upload_img_bdr {
  width: 80px;
  height: 81px;
  border-radius: 5px;
  border: solid 1px #979797;
}

.upload_btn {
  width: 174px;
  height: 35px;
  background: none;
  border: solid 1px #61892f;
  border-radius: 5px;
  text-align: center;
  color: #61892f;
}

.upload_btn_sm {
  width: 81px;
  height: 27px;
  background: none;
  border: solid 1px #61892f;
  border-radius: 5px;
  text-align: center;
  color: #61892f;
}
.save_btn {
  width: 130px;
  height: 35px;
  border-radius: 5px;
  background-color: #86c232;
  border: 0px;
  color: #ffffff;
}

div.modal {
  opacity: 1
}