.ProjectCard-root {
  background-color: white;
  border: solid 1px #868e96;
  color: inherit;
  display: inline-table;
  height: 340px;
  margin-right: 20px;
  margin-top: 20px;
  width: 260px;
}

.ProjectCard-root > div {
  padding: 5px;
  border-bottom: solid 1px; 
}

.ProjectCard-description {
  line-height: 1.5;
}

.ProjectCard-issueAndLocation {
  border-bottom: solid 1px;
}

.ProjectCard-label {
  color: #222629;
}

.ProjectCard-name {
  height: 140px;
  
}

.ProjectCard-name > h3{
  font-size: 1.2rem;
}

.ProjectCard-subtext {
  font-size: 12px;
}

.ProjectCard-value {
  color: #6b6e70;
}