/* Project_Sign-up Elements  */

.LINKS {
  width: 40px;
  height: 17px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}

.DETAILS {
  width: 55px;
  height: 17px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}

.create-project {
  height: 76px;
  
}

.create-project h1 {
  font-size: 16px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 28px;
}

.wrapper-gray {
  background-color: #f6f7f8;
}

/*
.Create-a-project-month-Copy {
  width: 1280px;
  height: 1616px;
  background-color: #f6f7f8;
}
*/

.Fill-22-wide {
  width: 1003px;
  height: 85px;
  background-color: #ffffff;
  border: solid 1px #d8d8d8;
}

.Fill-22 {
  width: 455px;
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #d8d8d8;
}

.Field_names {
  width: 150px;
  height: 14px;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}