.ProjectSearchBar-root {
  background-color: white;
  border: solid 1px #cecece;
  height: 64px;
}

.ProjectSearchBar-input {
  border: 0;
  font-size: 14px;
  outline-width: 0;
  margin-left: 51px;
  margin-top: 24px;
}

.ProjectSearchBar-submit {
  background-color: #86c232;
  border: 0;
  color: white;
  float: right;
  font-size: 14px;
  padding: 8px 31px 10px 32px;
  margin-right: 34px;
  margin-top: 16px;
}
