span.pseudo-link {
    color: #0000EE;
    cursor: pointer;
}

/* Spacing */

.navbar {
  height:139px;
}
thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {
    width: 30%;
}

th, td {
    padding: 5px;
}

.signup-text {
    width: 325px;
    height: 40px;
    background-color: #f2f2f2;
    background-color: var(--text-box-grey);
}

.signup-half-col {
    width:325px !important;
    padding-left:15px;
}

.signup-half-col-left {
  margin-right:100px;
}

.signup-wide {
    width: 750px;
    height: 40px;
    background-color: #f2f2f2;
    background-color: var(--text-box-grey);
}

.btn-primary {
    width: 200px;
    height: 45px;
    background-color: #fc8a04 !important;
    border:0px;
}

.btn-secondary  {
  width: 200px;
  height: 45px;
  background-color: #f2f2f2 !important;
  border:0px;
  color:#000000 !important;
}

.btn-left {
  margin-right:31px;
}

/* Color palette */

:root {
    --black: #231f1f;
    --pumpkin-orange: #fc8a04;
    --text-box-grey: #f2f2f2;
  }

  /* Text styles */

  h1 {
    font-family: HiraginoSans-W5;
    font-size: 32px;
    text-align: left;
    color: #231f1f;
    color: var(--black);
  }

  h2 {
    font-family: HiraginoSans-W5;
    font-size: 26px;
    text-align: left;
    color: #231f1f;
    color: var(--black);
  }

  h3 {
    font-family: HiraginoSans-W5;
    font-size: 18px;
    text-align: left;
    color: #231f1f;
    color: var(--black);
  }

  body {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    color: #231f1f;
    color: var(--black);
  }

  input {
      border:0px;
  }

  select {
    border:0px;
  }
  .navbar-inverse {
    background-color: #282424;
    color:#ffffff
  }

  a.navbar-inverse {
    color:#ffffff
  }

  .base-signup {
    width: 65px;
    height: 22px;
    margin-right:39px;
    font-family: Helvetica;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
  }

  .signup-label {
    width: 70px;
    height: 17px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    color: #231f1f;
    color: var(--black);
    margin-bottom:7px !important;
    margin-top:20px;
  }


  .input-link-icon {
    background-image: url(/static/images/link.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 97% 4px !important;
  }

  .signup-primary-header {
    padding-top:93px;
    padding-bottom:35px;
  }
  .signup-secondary-header {
    padding-bottom:43px;
  }

  .signup-headers {
    text-align:center !important;
  }

  .signup-my-details {
    font-family: Helvetica, HiraginoSans-W5;

    font-size: 18px;
    text-align: left;
    color: #231f1f;
    color: var(--black);
  }

  .submit-row {
    padding-top:91px;
    text-align:center;
  }

  .signup-inputs {
    /*width:750px*/
    margin-left:auto;
    margin-right:auto;
  }

  .signup-section {
    margin-top:47px;
  }

  .signup-textarea {
    width:100%;
    height:150px;
    background-color:#f2f2f2;
    border:0px;
  }

  .signup-checkbox {
      width: 72px;
      height: 17px;
      font-family: Helvetica;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      color: #231f1f;
      color: var(--black);
  }

  .stacked-input {
    margin-top:8px;
  }

  .multiselect {
    height:180px;
  }

  .add-a-project {
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    vertical-align:middle;
    display:inline-block;
    line-height:47px;
  }

  .project-status {
  font-family: Helvetica;
  font-size: 16px;
  color: #fc8a04;
  color: var(--pumpkin-orange);
  margin-bottom:23px;

  }

  .project-name {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #231f1f;
    color: var(--black);
  }

.Text-section {
  background-color: white;
  border: solid 1px #cecece;
  padding: 10px;
  margin-bottom: 10px;
}

.EditProjectForm-root Button:hover, .upload-img-btn {
  cursor: pointer;
}

.EditProjectForm-root label {
  text-transform: capitalize;
  font-weight: bolder;
}

.EditProjectForm-root Button {
  font-size: 0.75rem;
  padding: 0 0.25rem;
  border-radius: 1rem;
  background-color: var(--pumpkin-orange);
}

.EditProjectForm-root .label-hint {
  text-transform: none;
  font-style: italic;
}
