.ProjectCard-root {
  background-color: LightGray;
  max-width: 900px;
  border-radius: 15px;
  margin: 20px;
  overflow: auto;
  padding: 0 0 15px 0;
  font-family: serif;
}

.ProjectCard-link, .ProjectCard-link:hover {
  text-decoration: none;
  color: black;
}

.ProjectCard-img {
  padding: 15px 15px 0 15px;
  float: left;
  max-width: 50%;
}

.ProjectCard-description {
  float: left;
  display: inline-block;
  padding: 15px 15px 0 15px;
  max-width: 50%;
}

.h-color {
  color: #222629;
}
