.ProjectTagContainer-root {
  background-color: white;
  border: solid 1px #cecece;
  border-top: none;
  clear: both;
  min-height: 95px;
  overflow: hidden;
  padding: 25px 50px 15px 25px;
}

.ProjectTagContainer-noTags {

}

button.ResetSearch {
  background-color: #86c232;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  float: right;
  padding: 10px 30px;
}
