  //import our variables first
@import 'vars';
 //import our fonts from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

//import third-party CSS, so we can use it and override it.

// IMPORTANT: Load our bootstrap overrides first, per Bootstrap's documentation.
@import 'bootstrapoverride';
  //import required Bootstrap (foundation elements)
@import 'vendor/bootstrap/functions';
@import 'vendor/bootstrap/variables';
@import 'vendor/bootstrap/mixins';
@import 'vendor/bootstrap/root';
@import 'vendor/bootstrap/reboot';
@import 'vendor/bootstrap/grid';
  //then import selected Bootstrap components (what we use)
@import 'vendor/bootstrap/type';
@import 'vendor/bootstrap/buttons';
@import 'vendor/bootstrap/close';
@import 'vendor/bootstrap/carousel';
@import 'vendor/bootstrap/dropdown';
@import 'vendor/bootstrap/modal';
@import 'vendor/bootstrap/forms';
@import 'vendor/bootstrap/utilities';
@import 'vendor/bootstrap/print';
@import 'vendor/bootstrap/pagination';
  //import other third party CSS
@import 'vendor/_react-select.min';
@import 'vendor/react-image-crop/ReactCrop';

  //import DemocracyLab component partials
@import 'partials/AboutUs';
@import 'partials/AboutUser';
@import 'partials/BioModal';
@import 'partials/AlertSignupModal';
@import 'partials/FlashMessage';
@import 'partials/FindProjectsController';
@import 'partials/CollapsibleMenuItem';
@import 'partials/EmailVerifiedController';
@import 'partials/LandingController';
@import 'partials/MainHeader';
@import 'partials/MainFooter';
@import 'partials/project_signup'; // TODO: verify if we use any of these rules (Oct 2019)
@import 'partials/MyProjectCard';
@import 'partials/MyProjectsController';
@import 'partials/ProjectCard';
@import 'partials/ProjectCardsContainer';
@import 'partials/ProjectCardContainer';
@import 'partials/ProjectCommitCard';
@import 'partials/ProjectFilterContainer';
@import 'partials/ProjectSearchBar';
@import 'partials/ProjectSearchSort';
@import 'partials/ProjectTag';
@import 'partials/ProjectTagContainer';
@import 'partials/ResetSearchButton';
@import 'partials/SectionLink';
@import 'partials/SubHeader';
@import 'partials/TagsDisplay';
@import 'partials/LogInController';
@import 'partials/VolunteerCard';
@import 'partials/CollapsibleText';
@import 'partials/AboutProject';
@import 'partials/SplashScreen';
@import 'partials/PersonIcon';
@import 'partials/IconLinkDisplay';
@import 'partials/AlertHeader';
@import 'partials/SignedUpController';
@import 'partials/PartnerWithUsController';
@import 'partials/DonateController';
@import 'partials/Global';
@import 'partials/ThankYouController';
@import 'partials/Press';
@import 'partials/SocialFooter';
@import 'partials/Newsletter';
@import 'partials/Fonts';
@import 'partials/LoadingMessage';
@import 'partials/CreateProjectForm';
@import 'partials/StepIndicatorBars';
@import 'partials/ContactUs';
@import 'partials/FileSelectButton';
@import 'partials/ImageCropUploadButton';
@import 'partials/SignUpController';
