<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/bundle.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/cjs/react.development.js" defer></script>
    <!--TODO: Webpack react-select.css from node_modules instead of keeping a copy in git-->
    <link rel="stylesheet" type="text/css" href="/static/css/compiled/styles.css"/>

    <link rel="icon" type="image/png" href="https://dprhz3gr7kco1.cloudfront.net/img/dl_identity_node_mark.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {{ hotjarScript }}
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '137258853647008',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.10',
        });
        FB.AppEvents.logPageView();
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
      window.DLAB_GLOBAL_CONTEXT =
        '{{userID}}'
        ? Object.freeze({
          userID: '{{userID}}',
          emailVerified: '{{emailVerified}}' === "True" ? true : false,
          firstName: '{{firstName}}',
          lastName: '{{lastName}}',
          isStaff: '{{isStaff}}' === "True" ? true : false
        })
        : {};

      window.DLAB_FOOTER_LINKS = '{{FOOTER_LINKS}}';

      window.PROJECT_DESCRIPTION_EXAMPLE_URL = '{{PROJECT_DESCRIPTION_EXAMPLE_URL}}';

      window.DLAB_MESSAGES = [];
      {% for message in messages %}
        window.DLAB_MESSAGES.push({message: '{{message}}', level: '{{message.tags}}'})
      {% endfor %}
    </script>
    <div id="MainController" data-elementId="brief_description" data-maxLength="3000" class="__react-root">Loading . . .</div>
  </body>
</html>
