<!DOCTYPE html>
<html lang="en" style="height: 100%">

  <head>
    
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="og:title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="og:description" content="{{ description }}" />
    <meta name="og:type" content="{{ og_type }}" />
    <meta name="og:image" content="{{ og_image }}" />
    <meta name="og:url" content="{{ canonical_url }}" />
    <meta name="image" property="og:image" content="{{ og_image }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/runtime.bundle.js" defer></script>
    <script src="/static/js/main.bundle.js" defer></script>
    <script src="/static/js/vendors.bundle.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://use.fontawesome.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/main.styles.css"/>
    <link rel="icon" type="image/png" href="{{FAVICON_PATH}}">
    <link rel="canonical" href="{{ canonical_url }}" />
    {{ googleTagsHeadScript }}
    {{ organizationSnippet }}
    {{ hotjarScript }}
    {{ googleScript }}
  </head>
  <body>
    {{ googleTagsBodyScript }}

    <script type="text/javascript">
      window.DLAB_GLOBAL_CONTEXT =
        '{{userID}}'
        ? Object.freeze({
          userID: '{{userID}}',
          emailVerified: '{{emailVerified}}' === "True" ? true : false,
          email: '{{email}}',
          firstName: '{{firstName}}',
          lastName: '{{lastName}}',
          userImgUrl: '{{userImgUrl}}',
          isStaff: '{{isStaff}}' === "True" ? true : false,
          volunteeringUpForRenewal: '{{volunteeringUpForRenewal}}' === "True" ? true : false,
          userContext: {{userContext|safe}}
        })
        : {};

      window.DLAB_PROJECT_ID = '{{DLAB_PROJECT_ID}}';
      window.PROJECT_DESCRIPTION_EXAMPLE_URL = '{{PROJECT_DESCRIPTION_EXAMPLE_URL}}';
      window.POSITION_DESCRIPTION_EXAMPLE_URL = '{{POSITION_DESCRIPTION_EXAMPLE_URL}}';
      window.STATIC_CDN_URL = '{{STATIC_CDN_URL}}';
      window.HEADER_ALERT = '{{HEADER_ALERT}}';
      window.SPONSORS_METADATA = '{{SPONSORS_METADATA}}';
      window.PAYPAL_ENDPOINT = '{{PAYPAL_ENDPOINT}}';
      window.PAYPAL_PAYEE = '{{PAYPAL_PAYEE}}';
      window.PRESS_LINKS = '{{PRESS_LINKS}}';
      window.GR_SITEKEY = '{{GR_SITEKEY}}';
      window.SOCIAL_APPS_VISIBILITY = '{{SOCIAL_APPS_VISIBILITY}}';
      window.HERE_CONFIG = '{{HERE_CONFIG}}';
      window.QIQO_IFRAME_URL = '{{QIQO_IFRAME_URL}}';
      window.BLOG_URL = '{{BLOG_URL}}';
      window.EVENT_URL = '{{EVENT_URL}}';
      window.DONATE_PAGE_BLURB = '{{DONATE_PAGE_BLURB}}';
      window.YOUTUBE_VIDEO_URL = '{{YOUTUBE_VIDEO_URL}}'
      window.GHOST_URL = '{{GHOST_URL}}';
      window.GHOST_CONTENT_API_KEY = '{{GHOST_CONTENT_API_KEY}}';
      window.HEAP_ANALYTICS_ID = '{{HEAP_ANALYTICS_ID}}'

      window.DLAB_MESSAGES = [];
      {% for message in messages %}
        window.DLAB_MESSAGES.push({message: '{{message}}', level: '{{message.tags}}'})
      {% endfor %}
    </script>
    <div id="MainController" data-elementId="brief_description" data-maxLength="3000" class="__react-root">Loading . . .</div>
  </body>
</html>
