<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <script src="/static/js/bundle.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/cjs/react.development.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/ContextualDropdown.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/Global.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/FindProjectsController.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/DropDownMenuItem.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/LandingController.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/MainHeader.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/MyProjectCard.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/MyProjectsController.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ProjectCard.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ProjectFilterContainer.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ProjectSearchBar.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ProjectTag.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ProjectTagContainer.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/SectionLink.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/SubHeader.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/TagsDisplay.css"/>
    <link href='/static/css/projects.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/project_signup.css"/>
    <!--TODO: Webpack react-select.css from node_modules instead of keeping a copy in git-->
    <link rel="stylesheet" type="text/css" href="/static/css/react-select.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/21e87da3a9.js"></script>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '137258853647008',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.10',
        });
        FB.AppEvents.logPageView();
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
      window.DLAB_GLOBAL_CONTEXT =
        '{{userID}}'
        ? Object.freeze({
          userID: '{{userID}}',
          emailVerified: {{emailVerified|yesno:"true,false"}},
          firstName: '{{firstName}}',
          lastName: '{{lastName}}',
        })
        : {};
    </script>
    <div id="MainController" data-elementId="brief_description" data-maxLength="3000" class="__react-root">Loading . . .</div>
  </body>
</html>
