{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="/static/css/project_signup.css"/>
<link href='/static/css/project.css' rel='stylesheet' type='text/css'>

<div class="container-fluid">
    <div class="row" style="margin: 30px 40px 0 40px;">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-auto">
                    <img class="upload_img upload_img_bdr" src="{{ thumbnail.publicUrl }}" />
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            {{ project.project_name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col col-sm-3">
            <div class="row">
                <div class="col">
                    <i class="fa fa-link fa-1" aria-hidden="true"></i>
                    <a href="{{ project.project_url }}">{{ project.project_url }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="fa fa-map-marker fa-1" aria-hidden="true"></i>
                    {{ project.project_location }}
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin: 30px 40px 0 40px;">
        <div class="col">
            PROJECT DETAILS
            <div>
                {{ project.project_description }}
            </div>
        </div>
</div>

<div class="row" style="margin: 30px 40px 0 40px;">
    <div class = 'col'>
        <h2 class="form-group subheader">LINKS</h2>
        {% for link in links %}
        <h6>{{ link.linkName }}</h6>
        <a href="{{ link.linkUrl }}">{{ link.linkUrl }}</a>
        {% endfor %}
    </div>
</div>

<div class="row" style="margin: 30px 40px 0 40px;">
    <div class = 'col'>
        <h2 class="form-group subheader">FILES</h2>
        {% for file in files %}
        <div>
            <a href="{{ file.publicUrl }}">{{ file.fileName }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}