{% extends 'base.html' %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}" />
{% endblock %}

{% block content %}

<table class="projects">
        <tbody>
            <tr>
                <th>Project</th>
                <th>Description</th>
                <th>Tags</th>
            </tr>

            {% for project in projects %}
            <tr>
                <td>
                    <a href="{{ project.project_url }}">{{ project.project_name }}</a>
                </td>
                <td>{{ project.project_description }}</td>
                <td>{{ project.project_tags }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
