/* Spacing */

table {
    table-layout:       fixed;
    margin-left:        10%;
    margin-right:       10%;
    width:              80%;
    border-collapse:    collapse;
    border:             3px solid purple;
}

.navbar {
  height:139px;
}
thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {
    width: 30%;
}

th, td {
    padding: 5px;
}

/* Color */

tbody tr:nth-child(odd) {
    background-color: #DDEAFF;
}

tbody tr:nth-child(even) {
    background-color: #CFC6FF;
}

table {
    background-color: #DDE0FF;
}

.btn-primary {
    width: 200px;
    height: 45px;
    background-color: #fc8a04 !important;
    border:0px;
}

.btn-secondary  {
  width: 200px;
  height: 45px;
  background-color: #f2f2f2 !important;
  border:0px;
  color:#000000 !important;
}

.btn-left {
  margin-right:31px;
}

/* Color palette */

:root {
    --black: #231f1f;
    --pumpkin-orange: #fc8a04;
    --text-box-grey: #f2f2f2;
  }

  /* Text styles */

  h1 {
    font-family: HiraginoSans-W5;
    font-size: 32px;
    text-align: left;
    color: #231f1f;
    color: var(--black);
  }

  h2 {
    font-family: HiraginoSans-W5;
    font-size: 26px;
    text-align: left;
    color: #231f1f;
    color: var(--black);
  }

  h3 {
    font-family: HiraginoSans-W5;
    font-size: 18px;
    text-align: left;
    color: #231f1f;
    color: var(--black);
  }

  body {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    color: #231f1f;
    color: var(--black);
  }

  input {
      border:0px;
  }

  select {
    border:0px;
  }
  .navbar-inverse {
    background-color: #282424;
    color:#ffffff
  }

  a.navbar-inverse {
    color:#ffffff
  }


  .input-link-icon {
    background-image: url(/static/images/link.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 97% 4px !important;
  }


  .submit-row {
      padding-top:91px;
    text-align:center;
  }

  .stacked-input {
    margin-top:8px;
  }

  .multiselect {
    height:180px;
  }
